<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer" style= "background-color: #231F20 ; color: white; padding: 24px;">

  <div class="container">
  	<div class="row">
    	<div class="col-sm-6 col-md-3">
        <br>
        <br>
        <br>
        <br>
        <p class="footer-logo"><a href="https://hearstmuseum.berkeley.edu/"><img src="/pahma_footer-logo.svg" alt="Phoebe A. Hearst Museum of Anthropology"></a></p>
        <br>
        <p class="property-of"><font size = "2.8" font-family = "Helvetica">Proudly located at:</p> </font>
        <br>
        <a href="http://www.berkeley.edu"><img class="berkeley-logo" src="/berkeley.svg" alt="University of California, Berkeley"></a>
        <br>
        <br>
        <br>

      </div>
    	<div class="col-sm-6 col-md-3">


<ul id="menu-footer-nav-items" class="" style="list_style_type:none">
<br>
<br>
<br>
<br>
<font size = "3.6" ><li class="menu-item " style="color: white;"><a href="https://hearstmuseum.berkeley.edu/about/">About</a></li>
<li class="menu-item " style="color: white;"><a href="https://hearstmuseum.berkeley.edu/events/">Events</a></li>
<li class="menu-item " style="color: white;"><a href="https://hearstmuseum.berkeley.edu/request-a-research-visit/">Request A Research Visit</a></li>
<li class="menu-item " style="color: white;"><a href="https://hearstmuseum.berkeley.edu/descendant-communities/">Descendant Communities</a></li>
<li class="menu-item " style="color: white;"><a href="https://hearstmuseum.berkeley.edu/policies-services-fees/">Policies, Services &amp; Fees</a></li>
</font>
<br>
<br>
</ul>
     </div>
    	<div class="col-sm-6 col-md-3">
        <br>
        <br>
        <br>
        <br>
        <h4>Contact</h4></font>
        <address>103 Kroeber Hall <br>
         University of California, Berkeley  <br>
        Berkeley, CA 94720</address>
        <a class="telephone" href="tel:+1-510-642-3682" style="color: white"><i class="fa fa-mobile" aria-hidden="true"></i>510-642-3682</a>
        <br>
        <br>

      </div>
    	<div class="col-sm-6 col-md-3">
        <br>
        <br>
        <br>
        <br>
    		<h4>Connect</h4></font>
        <div class="social">
          <ul>
          <li><a href="https://www.facebook.com/hearstmuseum/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/PAHMA"><i class="fa fa-twitter" aria-hidden="true" ></i></a></li>
          <li><a href="https://www.instagram.com/hearstmuseum/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
          </ul>
        </div>
        <p class="copyright"> <font size = "2.5" font-family = "Helvetica Neue" color = "#FFFFFF"> © 2018 The Regents of the University of California, all rights reserved. <a href="https://hearstmuseum.berkeley.edu/privacy-policy/">Privacy Policy</a></p> </font>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</footer>
