<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the Breadth of the Hearst Museum’s Collections</h4>
<p style="text-align: justify;">
The Hearst Museum cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=netsuke+OR+Netsuke&objpp_txt=&objtype_txt=&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">
<div class="thumb" style="background-image: url('netsuke_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=netsuke+OR+Netsuke&objpp_txt=&objtype_txt=&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">Japanese Netsuke ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=netsuke+OR+Netsuke&objpp_txt=&objtype_txt=&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=ere+ibeji&op=AND&per_page=100&q=ere+ibeji&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">
<div class="thumb" style="background-image: url('ibeji_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=ere+ibeji&op=AND&per_page=100&q=ere+ibeji&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">Yoruba Ibeji Figurines ></a></b>
<!-- a class="fr" href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=ere+ibeji&op=AND&per_page=100&q=ere+ibeji&search_field=advanced&sort=objname_sort+asc&text=&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=cuneiform+tablet&op=AND&per_page=100&q=cuneiform&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">
<div class="thumb" style="background-image: url('cuneiform_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=cuneiform+tablet&op=AND&per_page=100&q=cuneiform&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">Cuneiform Tablets ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=cuneiform+tablet&op=AND&per_page=100&q=cuneiform&search_field=advanced&sort=objname_sort+asc&text=&view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjmaker_ss%5D%5B%5D=Joseph+Henry+Sharp&per_page=100&search_field=text&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('sharp_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjmaker_ss%5D%5B%5D=Joseph+Henry+Sharp&per_page=100&search_field=text&sort=objsortnum_s+asc&view=masonry">Joseph H. Sharp Paintings ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjmaker_ss%5D%5B%5D=Joseph+Henry+Sharp&per_page=100&search_field=text&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?commit=Search&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Oceania&objname_txt=bark+painting&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&utf8=%E2%9C%93&view=masonry">
<div class="thumb" style="background-image: url('bark_painting_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?commit=Search&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Oceania&objname_txt=bark+painting&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&utf8=%E2%9C%93&view=masonry">Oceanian Bark Paintings ></a></b>
<!-- a class="fr" href="?commit=Search&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Oceania&objname_txt=bark+painting&op=AND&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&utf8=%E2%9C%93&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=mask+OR+masks&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('mask_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=mask+OR+masks&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">Masks ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=mask+OR+masks&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=basket+OR+baskets&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('basket_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=basket+OR+baskets&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">Baskets ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=basket+OR+baskets&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="catalog?utf8=%E2%9C%93&f%5Bhasimages_s%5D%5B%5D=yes&objfilecode_txt=7.5+Issued+Currency+and+Associated+Containers&per_page=100&q=coin&search_field=text&view=masonry&op=AND&text=coin&sort=objname_sort+asc&search_field=advanced&view=masonry">
<div class="thumb" style="background-image: url('coin_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="catalog?utf8=%E2%9C%93&f%5Bhasimages_s%5D%5B%5D=yes&objfilecode_txt=7.5+Issued+Currency+and+Associated+Containers&per_page=100&q=coin&search_field=text&view=masonry&op=AND&text=coin&sort=objname_sort+asc&search_field=advanced&view=masonry">Coins ></a></b>
<!-- a class="fr" href="catalog?utf8=%E2%9C%93&f%5Bhasimages_s%5D%5B%5D=yes&objfilecode_txt=7.5+Issued+Currency+and+Associated+Containers&per_page=100&q=coin&search_field=text&view=masonry&op=AND&text=coin&sort=objname_sort+asc&search_field=advanced&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=scarab+OR+scarabs&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('scarab_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=scarab+OR+scarabs&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">Egyptian Scarabs ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=scarab+OR+scarabs&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&page=1&per_page=100&q=ishi&search_field=text&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('ishi_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&page=1&per_page=100&q=ishi&search_field=text&sort=objsortnum_s+asc&view=masonry">The Ishi Collection ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&page=1&per_page=100&q=ishi&search_field=text&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=doll+OR+dolls&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">
<div class="thumb" style="background-image: url('doll_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=doll+OR+dolls&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry">Dolls ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&objname_txt=doll+OR+dolls&op=AND&per_page=100&search_field=advanced&sort=objsortnum_s+asc&view=masonry"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Western+Balkans&f%5Bobjtype_s%5D%5B%5D=ethnography&per_page=100&search_field=text&view=masonry">
<div class="thumb" style="background-image: url('balkans_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Western+Balkans&f%5Bobjtype_s%5D%5B%5D=ethnography&per_page=100&search_field=text&view=masonry">Western Balkans Folk Items ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Western+Balkans&f%5Bobjtype_s%5D%5B%5D=ethnography&per_page=100&search_field=text&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Peru&objname_txt=cloth+OR+cloths+OR+textile+OR+textiles+OR+pouch+OR+pouches+OR+belt+OR+belts+OR+bag+OR+bags+OR+sling+OR+slings+OR+girdle+OR+girdles+OR+band+OR+bands+OR+cord+OR+cords+OR+embroidered+OR+fringe+OR+fringes+OR+garment+OR+garments+OR+headgear+OR+hood+OR+hoods+OR+mat+OR+mats+OR+matting+OR+string+OR+remnant+OR+remnants+OR+poncho+OR+ponchos+OR+tapestry+OR+tassel+OR+tassels+OR+thread+OR+woven+OR+%22wrist+band+OR+wrist+bands%22&objpp_txt=&objtype_txt=&op=AND&page=2&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">
<div class="thumb" style="background-image: url('peruvian_textile_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Peru&objname_txt=cloth+OR+cloths+OR+textile+OR+textiles+OR+pouch+OR+pouches+OR+belt+OR+belts+OR+bag+OR+bags+OR+sling+OR+slings+OR+girdle+OR+girdles+OR+band+OR+bands+OR+cord+OR+cords+OR+embroidered+OR+fringe+OR+fringes+OR+garment+OR+garments+OR+headgear+OR+hood+OR+hoods+OR+mat+OR+mats+OR+matting+OR+string+OR+remnant+OR+remnants+OR+poncho+OR+ponchos+OR+tapestry+OR+tassel+OR+tassels+OR+thread+OR+woven+OR+%22wrist+band+OR+wrist+bands%22&objpp_txt=&objtype_txt=&op=AND&page=2&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry">Peruvian Textiles ></a></b>
<!-- a class="fr" href="?anonymousdonor_txt=&f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Peru&objname_txt=cloth+OR+cloths+OR+textile+OR+textiles+OR+pouch+OR+pouches+OR+belt+OR+belts+OR+bag+OR+bags+OR+sling+OR+slings+OR+girdle+OR+girdles+OR+band+OR+bands+OR+cord+OR+cords+OR+embroidered+OR+fringe+OR+fringes+OR+garment+OR+garments+OR+headgear+OR+hood+OR+hoods+OR+mat+OR+mats+OR+matting+OR+string+OR+remnant+OR+remnants+OR+poncho+OR+ponchos+OR+tapestry+OR+tassel+OR+tassels+OR+thread+OR+woven+OR+%22wrist+band+OR+wrist+bands%22&objpp_txt=&objtype_txt=&op=AND&page=2&per_page=100&search_field=advanced&sort=objname_sort+asc&text=&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry">
<div class="thumb" style="background-image: url('as_farming_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry">Farming Tools of Asia ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&f%5Bobjfilecode_ss%5D%5B%5D=1.3+Agriculture+and+Animal+Husbandry&per_page=100&search_field=text&view=masonry"></a -->
</td>
<td class="splash_td">
<a href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&per_page=100&q=tea&search_field=text&view=masonry">
<div class="thumb" style="background-image: url('teapots_sm.jpg');" title=""></div></a>
<br/><b><a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&per_page=100&q=tea&search_field=text&view=masonry">Teapots and Tea Cups ></a></b>
<!-- a class="fr" href="?f%5Bhasimages_s%5D%5B%5D=yes&f%5Bobjfcptree_ss%5D%5B%5D=Asia&per_page=100&q=tea&search_field=text&view=masonry"></a -->
</td>

</table>
