<div class="alert <%= @classes %>">
  <%= message %>
  <% unless @type == :sr_alert %>
    <a class="btn-close close" data-dismiss="alert" data-bs-dismiss="alert" href="#">&times;</a>
  <% end %>
</div>
