<div class="row">
  <div class="col-12 text-center mb-5">
    <h1>We're sorry! The server has encountered an error!</h1>
    <!-- for the simplest customization you can just put a 500.jpg image here -->
    <p></p>
  </div>
</div>
