<div class="row">
  <div class="col-12 text-center mb-5">
    <h1>We're sorry, the page you were looking for does not seem to exist!</h1>
    <!-- for the simplest customization you can just put a 404.jpg image here -->
    <p></p>
  </div>
</div>
