// NAVBAR

.navbar.topbar .home-link {
  display: inline-block;
  text-decoration: none;
}
.navbar.topbar .home-link .header-logo {
  height: 90px;
}
.navbar.topbar .home-link span {
  color: black;
  font-size: 1.5rem;
  white-space: nowrap;
}
.navbar.topbar .home-link span:hover {
  color: var(--primary);
}
.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse {
  background: white;
  margin-bottom: 0;
}

.navbar-default {
  background-color: lightgray;
}

#startOverLink, .advanced-search-start-over {
  background-color: #c8c8c8;
  color: black;
}

.facet_limit-active {
  color: #212121;
  background-color: #fab946;
  border-color: #e6fdfe;
}
.facet-instructions {
  font-size: 0.9375rem;
  padding-bottom: 0.75rem;
}
.section-heading {
  font-size: 1.25rem;
  margin-top: 0.9rem;
}
.site-footer {
  color: white;
  background: #231F20;
  min-width: 12.5rem;
  padding: 24px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover:not([aria-disabled]) {
  color: #1BDBA6;
  text-decoration: underline;
}
.site-footer address {
  line-height: 1.56;
}
.site-footer h3 {
  margin-bottom: 25px;
  font-weight: bold;
}
.site-footer .berkeley-logo {
  margin-top: 10px;
  max-width: 180px;
}
.site-footer .copyright a:not([aria-disabled]) {
  text-decoration: underline;
}
.site-footer .footer-logo {
  margin-bottom: 40px;
}
.site-footer .menu-item {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 2px 0 18px 0;
}
.site-footer .telephone i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 20px;
}
.site-footer .row > div {
  min-width: 12.5rem;
  padding-top: 60px;
}
.site-footer .social {
  padding-bottom: 50px;
}
.site-footer .social li {
  display: inline-block;
}
.site-footer .social li+li {
  margin-left: 10px;
  margin-bottom: 5px;
}
.site-footer .social a {
  font-size: 1.5rem;
}
.splash.container .cell {
  max-width: 14.5em;
  min-width: 14.5em;
  padding: 12px;
  vertical-align: top;
  .thumb {
    display: inline-block;
    width: 13.75rem;
    height: 13.75rem;
    margin: 2px;
    background-position: center center;
    background-size: cover;
  }
  .title {
    float: right;
    font-size: 0.938rem;
    font-weight: 700;
    margin: 0;
    padding: 0 2px;
    white-space: nowrap;
    width: 100%;
    &:hover:not([aria-disabled]) {
      text-decoration: underline;
    }
  }
}
.splash-heading {
  font-size: 1.25rem;
  line-height: 1.3;
}
.splash-text {
  line-height: 1.3;
  margin-bottom: 0;
}
a {
  color: var(--anchor);
}
a:hover {
  color: var(--primary);
}
