<div id="copyrightstatement" class="col-sm-8" class="collapse multi-collapse" id="multiCollapseExample2">
<h5>A PDF of this document is available</h5>
<p>
You are requesting access to materials from the BAMPFA Film Library & Study Center’s CineFiles project
that are protected by U.S. copyright, and possibly other statutes. Please be advised that we are
providing these materials for personal study purposes only under the
Fair Use clause of the U.S. Copyright Act; please contact the publisher if you plan any other type of use.
</p>
<p><i>
By clicking “I agree” below, you indicate that you acknowledge these terms, and assume responsibility
for complying with these and any other applicable terms.
</i></p>
<p>
Thank you for your interest in CineFiles.
</p>
</div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">I agree</button>
<!-- a href="#">Return to search results</a -->
<div id="pdf" style="background-color: red" class="collapse multi-collapse" id="multiCollapseExample2">
<object data="https://webapps-dev.cspace.berkeley.edu/cinefiles/imageserver/blobs/956ad76d-9a17-4530-8c3f/content"
style="padding: 3px;" height="800px" width="600px" class="hrefclass">
</object>
</div>
