
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the BAM/PFA's collections</h4>
<p style="text-align: justify;">
The BAM/PFA cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="/?title_s=1001. Alger. Place du Gouvernement et mosquée El-Djedid.&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/14a9db7c-e3f9-4405-a305/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=1001. Alger. Place du Gouvernement et mosquée El-Djedid.&per_page=30&search_field=advanced&view=index">Leroux, A. ></a></b>
<!-- a class="fr" href="1001. Alger. Place du Gouvernement et mosquée El-Djedid."></a -->
</td>
<td class="splash_td">
<a href="/?title_s=4606. Milano Arco della Galleria Vittorio Emanuele (Mengoni).&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/0b615704-714f-4f8d-8ca3/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=4606. Milano Arco della Galleria Vittorio Emanuele (Mengoni).&per_page=30&search_field=advanced&view=index">Brogi, Giacomo ></a></b>
<!-- a class="fr" href="4606. Milano Arco della Galleria Vittorio Emanuele (Mengoni)."></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Tongue Tied&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/e00c239e-dfb6-484d-aa9a/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Tongue Tied&per_page=30&search_field=advanced&view=index">Cha, Theresa Hak Kyung ></a></b>
<!-- a class="fr" href="Tongue Tied"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?title_s=River Landscape with Villa&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/9ca43249-e4cd-44b0-acd2/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=River Landscape with Villa&per_page=30&search_field=advanced&view=index">Ni Hongao ></a></b>
<!-- a class="fr" href="River Landscape with Villa"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=untitled photograph from the film Dr. Jekyll and Mr. Hyde, by Rouben Mamoulian (Apparatus)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/1663ef1e-a1ab-4d17-9606/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=untitled photograph from the film Dr. Jekyll and Mr. Hyde, by Rouben Mamoulian (Apparatus)&per_page=30&search_field=advanced&view=index">Cha, Theresa Hak Kyung ></a></b>
<!-- a class="fr" href="untitled photograph from the film Dr. Jekyll and Mr. Hyde, by Rouben Mamoulian (Apparatus)"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=The Finding of Moses&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/7acb8bef-e861-40a5-ba9d/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=The Finding of Moses&per_page=30&search_field=advanced&view=index">Ensor, James ></a></b>
<!-- a class="fr" href="The Finding of Moses"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Actualités: Les Parisiens ayant trouve moyen de circuler...&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/085946a8-edfe-4840-8bc7/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Actualités: Les Parisiens ayant trouve moyen de circuler...&per_page=30&search_field=advanced&view=index">Daumier, Honoré ></a></b>
<!-- a class="fr" href="Actualités: Les Parisiens ayant trouve moyen de circuler..."></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?title_s=Sisters of Charity&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/54c3fbb9-a688-42f3-9025/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Sisters of Charity&per_page=30&search_field=advanced&view=index">Forain, Jean-Louis ></a></b>
<!-- a class="fr" href="Sisters of Charity"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=No sabien el camino (They don't know the way), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/5086d9fa-28c1-4a4e-8079/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=No sabien el camino (They don't know the way), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">Goya, Francisco ></a></b>
<!-- a class="fr" href="No sabien el camino (They don't know the way), from the series Los desastres de la guerra (The Disasters of War)"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Falcon Hunting, 1 of 2 Screens&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/4a716e16-d32f-4108-9a37/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Falcon Hunting, 1 of 2 Screens&per_page=30&search_field=advanced&view=index">Sumiyoshi (School of) ></a></b>
<!-- a class="fr" href="Falcon Hunting, 1 of 2 Screens"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Yo lo vi (I saw this), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/1b0d5de7-ac53-4cd9-96ce/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Yo lo vi (I saw this), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">Goya, Francisco ></a></b>
<!-- a class="fr" href="Yo lo vi (I saw this), from the series Los desastres de la guerra (The Disasters of War)"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?title_s=Nada. Ello dira (Nothing. It speaks for itself), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/d34a31dc-ee11-462f-b2de/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Nada. Ello dira (Nothing. It speaks for itself), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">Goya, Francisco ></a></b>
<!-- a class="fr" href="Nada. Ello dira (Nothing. It speaks for itself), from the series Los desastres de la guerra (The Disasters of War)"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=untitled photograph (The Horizontal Philosopher)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/372cd592-6001-42dc-8cbc/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=untitled photograph (The Horizontal Philosopher)&per_page=30&search_field=advanced&view=index">Byars, James Lee ></a></b>
<!-- a class="fr" href="untitled photograph (The Horizontal Philosopher)"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Bullfighting: Combat in a Carriage Yoked with Two Mules (Funcion de Mojiganga)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/63343d75-00ed-438c-b462/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Bullfighting: Combat in a Carriage Yoked with Two Mules (Funcion de Mojiganga)&per_page=30&search_field=advanced&view=index">Goya, Francisco ></a></b>
<!-- a class="fr" href="Bullfighting: Combat in a Carriage Yoked with Two Mules (Funcion de Mojiganga)"></a -->
</td>
<td class="splash_td">
<a href="/?title_s=Landscape (The Land)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/b8d0fda3-5e71-44a2-b814/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?title_s=Landscape (The Land)&per_page=30&search_field=advanced&view=index">Piazzoni, Gottardo ></a></b>
<!-- a class="fr" href="Landscape (The Land)"></a -->
</td>
</table>
