
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the UC Botanical Garden's collections</h4>
<p style="text-align: justify;">
The UC Botanical Garden cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="/?family_s=BIGNONIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/0f211f64-d485-4b91-bd54/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=BIGNONIACEAE&per_page=30&search_field=advanced&view=index">Pandorea jasminoides (Lindl.) K. Schum. ></a></b>
<!-- a class="fr" href="BIGNONIACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=ASPLENIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/bb947846-71cd-4753-b291/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=ASPLENIACEAE&per_page=30&search_field=advanced&view=index">Asplenium × kenzoi Sa. Kurata ></a></b>
<!-- a class="fr" href="ASPLENIACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=ARECACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/069379c0-3f13-462f-aebb/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=ARECACEAE&per_page=30&search_field=advanced&view=index">Chamaerops humilis L. var. argentea André ></a></b>
<!-- a class="fr" href="ARECACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=BLECHNACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/7fcf8438-ff12-4610-a62f/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=BLECHNACEAE&per_page=30&search_field=advanced&view=index">Blechnum australe L. ></a></b>
<!-- a class="fr" href="BLECHNACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=CRASSULACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/27ead321-9284-4df7-9bac/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=CRASSULACEAE&per_page=30&search_field=advanced&view=index">Echeveria skinneri Walther ></a></b>
<!-- a class="fr" href="CRASSULACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=PROTEACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/1cf9bc70-64bc-4641-a7cb/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=PROTEACEAE&per_page=30&search_field=advanced&view=index">Leucadendron tinctum I. Williams ></a></b>
<!-- a class="fr" href="PROTEACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=POACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/ebca73e6-c6cd-49b9-be3c/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=POACEAE&per_page=30&search_field=advanced&view=index">Ampelodesmos mauritanica (Poir.) T. Durand & Schinz ></a></b>
<!-- a class="fr" href="POACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=TAXACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/5647dc22-b2ca-4125-a0c9/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=TAXACEAE&per_page=30&search_field=advanced&view=index">Cephalotaxus harringtonia (Forbes) Koch var. koreana (Nakai) Rehder ></a></b>
<!-- a class="fr" href="TAXACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=CACTACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/7935c058-54e1-4b96-bf74/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=CACTACEAE&per_page=30&search_field=advanced&view=index">Cleistocactus buchtienii Backeb. ></a></b>
<!-- a class="fr" href="CACTACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=ZINGIBERACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/677c04eb-6cd3-4705-9daa/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=ZINGIBERACEAE&per_page=30&search_field=advanced&view=index">Hedychium aff. coronarium J. Konig ></a></b>
<!-- a class="fr" href="ZINGIBERACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=CYPERACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/a7f95a68-c2eb-49c1-865d/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=CYPERACEAE&per_page=30&search_field=advanced&view=index">Carex hispida Willd. ></a></b>
<!-- a class="fr" href="CYPERACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=PLANTAGINACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/4f4d7ce1-9ff9-41c6-9fe2/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=PLANTAGINACEAE&per_page=30&search_field=advanced&view=index">Penstemon rostriflorus Kellogg ></a></b>
<!-- a class="fr" href="PLANTAGINACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=EBENACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/5b035510-ee90-4537-8604/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=EBENACEAE&per_page=30&search_field=advanced&view=index">Diospyros lycioides Desf. subsp. guerkei (Kuntze) De Winter ></a></b>
<!-- a class="fr" href="EBENACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=SANTALACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/e9d42f3c-8a40-4e12-bc9d/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=SANTALACEAE&per_page=30&search_field=advanced&view=index">Osyris alba L. ></a></b>
<!-- a class="fr" href="SANTALACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=BRASSICACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/1bfbe1f1-dba1-4add-8d1f/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=BRASSICACEAE&per_page=30&search_field=advanced&view=index">Erysimum franciscanum Rossbach ></a></b>
<!-- a class="fr" href="BRASSICACEAE"></a -->
</td>
</table>
