<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the CineFiles collection</h4>
<p style="text-align: justify;">
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
</p>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
</tr>
<tr class="grid">
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<tr class="grid">
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
<td class="splash_td">
<div style="height: 200px; width: 270px; background-color: lightgray;"><br><h2>Your stuff here</h2></div>
</td>
</tr>
</table>
