
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the CineFiles's collections</h4>
<p style="text-align: justify;">
The CineFiles cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

</table>
