<html>
<head>
  <link rel="stylesheet" href="styles.css" media: "all"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
  <title>FOOTER</title>
</head>
<body>
Bla bla bla<br/><br/><br/>

<footer class="site_footer" style="color: gray; padding: 24px;">
  <div class="container">
    <div class="row" >
      <div class="col-xs">
        <a><img src="spacer.png" alt="white space" style="max-width: 150px;"></a>
      </div>
      <div class="col px-md-0">
        <a href="http://bampfa.org/cinefiles/">Home</a>
      </div>
      <div class="col px-md-0">
        <a href="http://bampfa.org/about/cinefiles/">About Us</a>
      </div>
      <div class="col px-md-0">
        <a href="http://example.com/">Contact Us</a>
      </div>
      <div class="col px-md-0">
        <a href="http://example.com/">Comments</a>
      </div>
      <div class="col px-md-0">  
        <a href="http://bampfa.org/cinefiles-help/">Help</a>
       </div>
      <div class="col px-md-0">
        <a href="https://www.facebook.com/bampfa/"><i class="fa fa-facebook" style="color: gray"></i></a>
      </div>
      <div class="col px-md-0">
        <a href="https://twitter.com/bampfa/"><i class="fa fa-twitter" aria-hidden="true" style="color: gray"></i></a>
      </div>
      <div class="col px-md-0">
        <a href="https://www.instagram.com/bampfa_filmlibrary/"><i class="fa fa-instagram" aria-hidden="true" style="color: gray"></i></a>
      </div>
    </div>
  	
    <div class="row">

    	<div class="col-xs">
        <p class="footer-logo"><a href="http://bampfa.org"><img src="bampfa_logo.png" alt="#TENANT#" style="max-width: 150px;"></a></p>
      </div>

      <div class="col-9">
        <p>CineFiles is made possible with generous support from the Louis B. Mayer Foundation.<br><br>
          Past support for this project has been provided by the National Endowment for the Humanities, the Institute of Museum and Library Services, the Packard Humanities Institute, the Library Services and Technology Act, and individual donors.<br><br>
          UC Berkeley's Research IT provides technical infrastructure and support for <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>, which powers CineFiles. This website is run on <a href="https://projectblacklight.org/">Project Blacklight</a>.
        </p>
      </div>

    </div>

    </div>
    
</footer>
</body>
</html>