
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the Phoebe A. Hearst Museum of Anthropology's collections</h4>
<p style="text-align: justify;">
The Phoebe A. Hearst Museum of Anthropology cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="/?objname_s=Stopper&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/eb360b4a-e871-4c40-893b/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Stopper&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Stopper"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Figure&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/54db8047-8f45-480d-888c/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Figure&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Figure"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Handaxe&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/5011fbf4-fadc-43f4-a9a2/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Handaxe&per_page=30&search_field=advanced&view=index">1947 ></a></b>
<!-- a class="fr" href="Handaxe"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?objname_s=Painting&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/3b892008-a9ed-4c16-a970/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Painting&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Painting"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Sherd&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/17685346-96e9-47bb-a1bd/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Sherd&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Sherd"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Ceramic fragment&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/b8a911ae-bbdd-42bd-8fc9/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Ceramic fragment&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Ceramic fragment"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Sandstone fragment&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/480bc8a4-c57a-4f3c-aa27/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Sandstone fragment&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Sandstone fragment"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?objname_s=Sarcophagus lid&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/001625f7-176d-4566-835e/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Sarcophagus lid&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Sarcophagus lid"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Amulet&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/452fa466-f38b-4abb-9482/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Amulet&per_page=30&search_field=advanced&view=index">1899 ></a></b>
<!-- a class="fr" href="Amulet"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Cut bone fragment&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/811d9854-0cf3-4634-85a4/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Cut bone fragment&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Cut bone fragment"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Scraper&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/936d2c90-6137-480b-8b35/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Scraper&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Scraper"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?objname_s=Top, section of coconut shell, incised, w/o handle&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/f448f20e-f031-417a-b4a1/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Top, section of coconut shell, incised, w/o handle&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Top, section of coconut shell, incised, w/o handle"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Metal object&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/3f7c2868-7b3f-4e6d-b4fd/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Metal object&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Metal object"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Point fragment&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/9f20ccc3-4067-4d5d-ad00/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Point fragment&per_page=30&search_field=advanced&view=index">1948 ></a></b>
<!-- a class="fr" href="Point fragment"></a -->
</td>
<td class="splash_td">
<a href="/?objname_s=Coin&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/pahma/imageserver/blobs/de8e6b28-a471-4db3-9bca/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?objname_s=Coin&per_page=30&search_field=advanced&view=index"> ></a></b>
<!-- a class="fr" href="Coin"></a -->
</td>
</table>
