
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the University and Jepson Herbaria's collections</h4>
<p style="text-align: justify;">
The University and Jepson Herbaria cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="/?family_s=Taxaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/7c38ae65-a59e-4015-b350/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Taxaceae&per_page=30&search_field=advanced&view=index">Taxus brevifolia Nutt. ></a></b>
<!-- a class="fr" href="Taxaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Asteraceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/120b6489-8d77-4e47-ace5/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Asteraceae&per_page=30&search_field=advanced&view=index">Erigeron blochmaniae Greene ></a></b>
<!-- a class="fr" href="Asteraceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Ephedraceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/d04520a8-b91b-475d-a89b/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Ephedraceae&per_page=30&search_field=advanced&view=index">Ephedra californica S. Watson ></a></b>
<!-- a class="fr" href="Ephedraceae"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=Sargassaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/f939d654-9c76-4260-8d2c/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Sargassaceae&per_page=30&search_field=advanced&view=index">Stephanocystis setchellii ></a></b>
<!-- a class="fr" href="Sargassaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Dryopteridaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/db5eb839-803e-44b0-974a/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Dryopteridaceae&per_page=30&search_field=advanced&view=index">Polystichum aculeatum (L.) Roth ex Mert. ></a></b>
<!-- a class="fr" href="Dryopteridaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Erythrotrichiaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/8a37d70e-51e0-452c-91c7/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Erythrotrichiaceae&per_page=30&search_field=advanced&view=index">Erythrotrichia carnea ></a></b>
<!-- a class="fr" href="Erythrotrichiaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Ulvaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/a37bd344-8322-4309-b134/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Ulvaceae&per_page=30&search_field=advanced&view=index">Ulva lactuca ></a></b>
<!-- a class="fr" href="Ulvaceae"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=Ahnfeltiaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/d6139e49-3636-4199-93bd/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Ahnfeltiaceae&per_page=30&search_field=advanced&view=index">Ahnfeltia fastigiata ></a></b>
<!-- a class="fr" href="Ahnfeltiaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Solieriaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/9c294415-c39e-42b9-afec/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Solieriaceae&per_page=30&search_field=advanced&view=index">Sarcodiotheca furcata ></a></b>
<!-- a class="fr" href="Solieriaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Violaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/d3b7ba04-f392-4157-ad48/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Violaceae&per_page=30&search_field=advanced&view=index">Viola lobata Benth. ></a></b>
<!-- a class="fr" href="Violaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Schizymeniaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/e8b36c55-644d-4a7f-adc7/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Schizymeniaceae&per_page=30&search_field=advanced&view=index">Schizymenia pacifica ></a></b>
<!-- a class="fr" href="Schizymeniaceae"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?family_s=Costariaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/554258e6-3e71-40ab-8f45/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Costariaceae&per_page=30&search_field=advanced&view=index">Costaria costata ></a></b>
<!-- a class="fr" href="Costariaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Loasaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/52c77c6b-bf24-4091-83b1/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Loasaceae&per_page=30&search_field=advanced&view=index">Mentzelia hirsutissima S. Watson ></a></b>
<!-- a class="fr" href="Loasaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Gigartinaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/51586b80-2247-4452-bad9/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Gigartinaceae&per_page=30&search_field=advanced&view=index">Mazzaella flaccida ></a></b>
<!-- a class="fr" href="Gigartinaceae"></a -->
</td>
<td class="splash_td">
<a href="/?family_s=Apocynaceae&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/ucjeps/imageserver/blobs/31f0155b-ec28-4810-921e/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?family_s=Apocynaceae&per_page=30&search_field=advanced&view=index">Matelea cordifolia (A. Gray) Woodson ></a></b>
<!-- a class="fr" href="Apocynaceae"></a -->
</td>
</table>
