h1, .h1 {
  font-size: 2rem;
}

.bg-dark {
  background-color: gray !important;
}

.btn-primary {
  color: #fff;
  background-color: #08bae7;
  border-color: #07a6ce;
}

.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}

.thumbclass {
  max-height: 200px;
  max-width: 200px;
}

.document-thumbnail img {
  max-height: 240px;
  max-width: 240px;
}

.login-container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.login-form {
  width: 100%;
  margin-bottom: 30px;
}

.signup-container {
  margin-left: 40px;
  margin-right: 40px;
}

.signup-form {
  width: 100%;
  margin-bottom: 30px;
}

.actions {
  margin-bottom: 30px;
}

article .documentHeader {
  overflow: inherit;
}

.blacklight-blob_ss {
  // firgure out a grid display option
}

// WARC DISPLAY STUFF

.warc-container {
  display:flex;
  width: 100%;
  height: 50em;
  border-style: solid;
  border-width: 2px;
  border-color: #bfbfbf;
}

.warc {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

// FOOTER

.site_footer a {
  color: gray;
  padding: 5px;
}

.site_footer {
  background: transparent;
  color: gray;
  margin: auto;
  padding: 5% 10% 15% 10%;
}

// NAVBAR and BG

//.navbar-inverse .navbar-nav > li > a {
//  color: white;
//}

//.navbar-inverse {
//  background: gray;
//  margin-bottom: 0;
//}

.navbar.topbar {
  min-width: 600px;
}
.navbar-brand img {
  width: 600px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-nav {
  flex-wrap: wrap;
}

@media print {
  a[href]:after {
    content: none;
  }
  .site_footer {
    display: none;
  }
}

.blacklight-pdf_ss {
  width: 100%;
}

// BEGIN FONT STUFF

@font-face {
  font-family: MontserratBlack;
  src: url(/fonts/Montserrat/Montserrat-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MontserratMedium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: MontserratLight;
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: normal;
}

div {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.minor-heading {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.section-heading {
  font-family: MontserratBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.panel-title {
  font-family: MontserratLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  padding-right: 12px;
}

.panel-heading {
  padding-right: 1px;
}

h4.facets-heading {
  font-size: 0.875rem;
}

.search_field {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
}

h3.index_title > a {
  font-family: MontserratMedium, Helvetica, Arial, sans-serif;
}

// END FONT STUFF

// GLOBAL ALERTS
$global-alert-color: rgb(89, 184, 227);
.global-alert {
  border: 1px solid $global-alert-color;
  margin: 10px 0;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

// END GLOBAL ALERTS

#startOverLink, .advanced-search-start-over {
  background-color: #c8c8c8;
  color: black;
}

.facet_limit-active {
  color: #212121;
  background-color: #fab946;
  border-color: #e6fdfe;
}
