<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. This website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework, contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
                      <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_program.jpg" alt="program for January and Februar 1971 screenings at PFA">
                                <div class="flipper-text minor-heading">50 years of film at BAMPFA</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">A half century of film, 1971-2023</p>
                                <p class="desc">In 1971 the Pacific Film Archive began its celebrated film exhibition program. BAMPFA continues to offer a diverse repertory slate of <a href="https://bampfa.org/visit/calendar">over 450 screenings</a> each year. Explore programs from our first decade (and beyond!).</p>
                                <p><i>Małgorzata Braunek in </i><b>Hunting Flies</b><i> (Andrzej Wajda, 1969) from the January 1971 program flyer.</i></p>
                                <p><a href="/?author_txt=&country_txt=&director_txt=&doclanguage_txt=&docnamesubject_txt=&doctype_txt=&film_id_ss=&filmlanguage_txt=&filmyear_txt=&op=AND&pubdate_txt=&range[pubdate_i][begin]=1971&range[pubdate_i][end]=1976&search_field=advanced&sort=pubdatescalar_s+asc&source_txt=pacific+film+archive&text=&title_txt=" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_bunuel.jpg" alt="cover of a press kit for Luis Buñuel's film, belle de jour">
                                <div class="flipper-text minor-heading">Luis Buñuel</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Luis Buñuel</p>
                                <p class="desc">July 7–November 19, 2023, BAMPFA presents <a href="https://bampfa.org/program/luis-bunuels-magnificent-weapon"><i>Luis Buñuel’s Magnificent Weapon</i></a> with more than 20 films by this Spanish anarcho-surrealist. Here you can learn more about his work with Salvador Dali, his subversive Mexican melodramas, and his great surrealist European classics.</p>
                                <p><i>Press kit for </i><b>Belle de Jour</b> <i>(Luis Buñuel, 1967)</i></p>
                                <p><a href='/?q=luis-bunuel&search_field=text&sort=film_year_ss+asc' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_chao.jpg" alt="still from emily chao's film light signal showing two small figures on a california coastal cliff">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms one core of the BAMPFA film collection.</p>
                                <p><i>Still from</i> <b>Light Signal</b> <i>(Emily Chao, 2022).</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_herzog.jpg" atl="flyer for the film sambizanga">
                                <div class="flipper-text minor-heading">Werner Herzog</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Werner Herzog</p>
                                <p class="desc">November 9, 2023–February 2024, BAMPFA presents <i><a href="https://bampfa.org/program/infinite-horizons-films-werner-herzog">Infinite Horizons: The Films of Werner Herzog</a></i>, with films spanning the auteur's career and Herzog himself for an in-person appearance. Read more on Herzog's films, from early works like <i>Even Dwarves Started Small</i> (1970) to iconic films like <i>Fitzcarraldo</i> (1982) and <i>Grizzly Man</i> (2005).</p>
                                <p><i>Bruno S. in </i><b>Kaspar Hauser</b><i> (1974)</i></p>
                                <p><a href='/?q=werner-herzog&search_field=text&sort=film_year_ss+asc' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_dielman.jpg" alt="still from chantal akerman's 1975 film jeanne dielman">
                                <div class="flipper-text minor-heading">Jeanne Dielman</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Jeanne Dielman</p>
                                <p class="desc">Chantal Akerman's 1975 feminist classic, <i>Jeanne Dielman, 23 Quai du Commerce, 1080 Bruxelles</i> topped <i>Sight & Sound's</i> 2022 poll of the 100 best films of all time. Read reviews and articles from throughout the decades since this influential film's release.</p>
                                <p><i>Still from </i><b>Jeanne Dielman</b><i> (Chantal Akerman, 1975)</i></p>
                                <p><a href='/?search_field=text&q=jeanne+dielman' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_bushman.jpg" alt="still from David Schickele's 1972 film Bushman">
                                <div class="flipper-text minor-heading">Bushman</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bushman</p>
                                <p class="desc">Read about David Schickele's 1972 quasi-documentary on a Nigerian student swept up in the politics and racial dynamics of the 1970s Bay Area. Restored in 2022 by Milestone Films and Corpus Fluxus with BAMPFA, <b>Bushman</b> was a hit at the restoration’s Bologna Film Festival premiere.</p>
                                <p><i>Still from </i><b>Bushman</b><i> (David Schickele, 1972)</i></p>
                                <p><a href='/?search_field=text&q=bushman' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_barrymore.jpg" alt="portrait of film star John Barrymore">
                                <div class="flipper-text minor-heading">Silent film stars</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Silver screen idols</p>
                                <p class="desc">Explore our collection of head shots, on-set stills, and portraits of actors, directors, and other personalities who got their start in the golden age of silent films. Cinema changed worldwide with the introduction of sound beginning in 1927, and only some of these stars successfully transitioned to the "talkies."</p>
                                <p><i>Portrait of film star <b>John Barrymore</b>.</i></p>
                                <p><a href="/?f[doctype_s][]=still&q=docsubject_txt%3Asilent+films" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_luddy.jpg" alt="portrait of Tom Luddy circa 1971">
                                <div class="flipper-text minor-heading">Tom Luddy</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Tom Luddy</p>
                                <p class="desc">Revisit the remarkable career of BAMPFA's first full time film curator, Tom Luddy–also a Telluride Film Festival co-founder and friend to cinema's auteur pantheon including Godard, Kurosawa, Lucas, and more. Read interviews, articles, and his BAMPFA publications like <i>Music and the movies</i> and <i>Treasures from the Eastman House</i>.</p>
                                <p>Portrait of Tom Luddy circa 1971</p>
                                <p><a href="/?utf8=✓&search_field=text&q=music" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
