    <div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item" style="overflow: auto;">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. This website contains scans of reviews, press kits, film festival and repertory theater programs, articles, and other film ephemera from our extensive library collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
                      <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_program.jpg" alt="pacific film archive program for July to August 1972">
                                <div class="flipper-text minor-heading">50+ years of film at BAMPFA</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Film at BAMPFA since 1971</p>
                                <p class="desc">In 1971 the Pacific Film Archive began its celebrated film exhibition program. BAMPFA continues to offer a diverse repertory slate of <a href="https://bampfa.org/visit/calendar">over 450 screenings</a> each year. Explore programs from our first decade (and beyond!).</p>
                                <p><i>The July-August 1972 Pacific Film Archive program guide</i></p>
                                <p><a href="/?author_txt=&country_txt=&director_txt=&doclanguage_txt=&docnamesubject_txt=&doctype_txt=&film_id_ss=&filmlanguage_txt=&filmyear_txt=&op=AND&pubdate_txt=&range[pubdate_i][begin]=1971&range[pubdate_i][end]=1976&search_field=advanced&sort=pubdatescalar_s+asc&source_txt=pacific+film+archive&text=&title_txt=" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_jia.png" alt="postcard for Jia Zhangke's film, the world">
                                <div class="flipper-text minor-heading">Jia Zhangke</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Jia Zhangke</p>
                                <p class="desc">For November 2024, BAMPFA hosts <a href="https://bampfa.org/program/jia-zhangke">Jia Zhangke in residence</a>. One of the leaders of the Sixth Generation of Chinese filmmakers, Jia has worked independently in narrative and documentary films. His works reflect contemporary China in constant change, between tradition and globaization.</p>
                                <p><i>Postcard for </i><b>The world</b> <i>(Jia, 2004)</i></p>
                                <p><a href='/?f[director_ss][]=Jia%2C+Zhang+ke' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_clipson.jpg" alt="Poscard for screening of Paul Clipson's films at The Lab, San Francisco showing a grid of eyes in different colors">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema is a strength of BAMPFA's film collection and our exhibition program.</p>
                                <p><i>Poscard for screening of Paul Clipson's films at The Lab, San Francisco</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde&search_field=text&sort=film_year_ss+asc" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_cruikshank.jpg" alt="still from sally cruikshank's promotional short for an unmade film, showing the cartoon character Anita sitting in a chair">
                                <div class="flipper-text minor-heading">Sally Cruikshank</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Sally Cruikshank</p>
                                <p class="desc">Sally Cruikshank's offbeat animations flourished in the Bay Area, where she produced some of her best known films, including <i>Quasi at the Quackadero</i> (1978) and <i>Make Me Psychic</i> (1976). In the 1980s and 90s she also made short cartoons for <i>Sesame Street</i>.</p>
                                <p><i>Still from a 1979 promotional short for </i><b>Quasi's Cabaret</b><i> (unproduced).</i></p>
                                <p><a href='/?search_field=text&q=sally+cruikshank' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_parajanov.jpg" alt="still from Sergei Parajanov's film Arabesque on a Pirosmani Theme">
                                <div class="flipper-text minor-heading">Sergei Parajanov Centennial</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Sergei Parajanov</p>
                                <p class="desc">In November 2024, BAMPFA presents a centennial tribute to the legendary Armenian poet-filmmaker Sergei Parajanov, who worked across transnational boundaries and struggled against the Soviet authorities, who banned and censored his films.</p>
                                <p><i>Still from </i><b>Arabesque on a Pirosmani Theme</b><i> (Sergei Parajanov, 1985)</i></p>
                                <p><a href='/?q=parajanov+OR+paradjanov+OR+Paradzhanov&search_field=text' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_samurai.jpg" alt="promotional booklet for the film seven samurai">
                                <div class="flipper-text minor-heading">Cinema Classics Onscreen</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Cinema Classics Onscreen</p>
                                <p class="desc">BAMPFA <a href="https://bampfa.org/program/special-screenings">regularly screens</a> favorites of world cinema. In our ongoing series of special screenings, recent releases, restored classics, and special guests grace the Barbro Osher Theater at BAMPFA.</p>
                                <p><i>Promotional booklet for </i><b>Seven Samurai</b><i> (Akira Kurosawa, 1954), playing November 24th. <a href="https://bampfa.org/event/seven-samurai-2024-11-24">Purchase tickets here!</a></i></p>
                                <p><a href='/?q=japan+OR+france+OR+soviet+OR+italy+OR+germany+OR+britain+OR+india&search_field=country_txt&sort=film_year_ss+asc' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_sais.jpg" alt="portrait of film star Marin Sais">
                                <div class="flipper-text minor-heading">Silent film stars</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Silver screen idols</p>
                                <p class="desc">Explore our collection of head shots, on-set stills, and portraits of actors, directors, and other personalities who got their start in the golden age of silent films. Cinema changed worldwide with the introduction of sound beginning in 1927, and only some of these stars successfully transitioned to the "talkies."</p>
                                <p><i>Portrait of film star <b>Marin Sais</b>.</i></p>
                                <p><a href="/?f[doctype_s][]=still&q=docsubject_txt%3Asilent+films" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_mastroianni.jpg" alt="actor Marcello Mastroianni in the film La Dolce Vita">
                                <div class="flipper-text minor-heading">Marcello Mastroianni Centennial</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Marcello Mastroianni</p>
                                <p class="desc">Actor Marcello Mastroianni’s contribution to the history of cinema made an indelible mark. Beloved by filmgoers for his on-screen charisma, charm, and elegance, his centennial year is being marked by festivals and cinematheques around the world.</p>
                                <p><i>Marcello Mastroianni in </i><b>La Dolce Vita</b><i> (Federico Fellini, 1960).</i></p>
                                <p><a href="/?&q=text:pfafilm10051+OR+pfafilm5795+OR+pfafilm24275+OR+mastroianni" class="btn btn-primary">Learn more</a></p>

                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
