<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site-footer container-fluid">
  <div class="row" >
    <ul aria-label="secondary navigation links" class="w-100 d-md-flex flex-wrap justify-content-between">
      <li>
        <a href="https://bampfa.org/cinefiles/" class="nav-link">Home</a>
      </li>
      <li>
        <a href="https://bampfa.org/cinefiles/about/" class="nav-link">About Us</a>
      </li>
      <li>
        <a href="https://bampfa.org/about/film-library-study-center/" class="nav-link">Contact Us</a>
      </li>
      <li>
        <a href="https://bampfa.org/cinefiles/about/comments/" class="nav-link">Comments</a>
      </li>
      <li>
        <a href="https://bampfa.org/cinefiles/about/help/" class="nav-link">Help</a>
       </li>
      <li class="social">
        <ul aria-label="social media links" class="d-flex flex-nowrap justify-content-between">
          <li class="pl-0">
            <a href="https://www.facebook.com/bampfa/" class="nav-link" title="BAMPFA facebook profile"><i class="fa fa-facebook" aria-hidden="false" role="img" aria-label="Facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/bampfa/" class="nav-link" title="BAMPFA twitter profile"><i class="fa fa-twitter" aria-hidden="false" role="img" aria-label="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/bampfa_filmlibrary/" class="nav-link" title="Instagram profile, BAMPFA Film Library"><i class="fa fa-instagram" aria-hidden="false" role="img" aria-label="Instagram"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-4 pb-4">
      <a href="https://bampfa.org"><img class="footer-logo" src="/header-logo-bampfa.png" alt="bampfa"></a>
    </div>
    <div class="col-sm-8">
      <p>
        Committed to
        <a href="https://dap.berkeley.edu/get-help/report-web-accessibility-issue">accessibility,</a>
        <a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">nondiscrimination</a>
        <span aria-hidden="true">&amp;</span><span class="sr-only">and</span>
        <a href="https://security.berkeley.edu/policy/privacy-statement-uc-berkeley-websites">privacy.</a>
      </p>
      <p>CineFiles is made possible with generous support from the Louis B. Mayer Foundation.</p>
      <p>Past support for this project has been provided by the National Endowment for the Humanities,
        the Institute of Museum and Library Services, the Packard Humanities Institute,
        the Library Services and Technology Act, and individual donors.</p>
      <p>UC Berkeley's
        <a href="https://rtl.berkeley.edu">Research, Teaching and Learning (RTL)</a>
        provides technical infrastructure and support for
        <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>,
        and for this website, using <a href="https://projectblacklight.org/">
          <img src="/blacklight-logo-vectorized.svg" alt="blacklight" class="blacklight-logo">
        </a>
      </p>
      <p>&copy; <%= Time.current.year %> The Regents of the University of California, all rights reserved.</p>
    </div>
  </div>
</footer>
