<div class="flash_messages" role="status">
  <% [:success, :notice, :error, :alert, :sr_alert].each do |type| %>
    <%= render(Blacklight::System::FlashMessageComponent.with_collection(Array.wrap(flash[type]), type: type)) if flash[type] %>
  <% end %>
</div>
