<div
  id="blacklight-modal"
  aria-hidden="true"
  aria-labelledby="modal-title"
  class="modal fade"
  role="dialog"
>
  <div id="focus-trap-begin"></div>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
      </div>
    </div>
  <div id="focus-trap-end"></div>
</div>
