<div id="blacklight-modal" class="modal fade" role="dialog" aria-labelledby="modal-title">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
