// css that is shared by all portals
.btn:focus, .btn.focus,
.modal:focus .modal-content,
.x3dom-canvas:focus,
a:focus,
button:focus,
input:focus,
select:focus,
*[tabindex="0"]:focus,
*[tabindex="-1"]:focus {
  box-shadow: 0 0 0 5px white !important;
  outline-color: var(--dark) !important;
  outline-offset: 2px;
  outline-style: solid !important;
  outline-width: 2px !important;
}
.btn-primary:focus, .btn-primary.focus,
input.form-control:focus,
select.form-control:focus,
.navbar.navbar-search select:focus,
.navbar.navbar-search input:focus,
.toggle-bookmark input:focus,
a:not(.btn):not(.nav-link):not(.navbar-brand):focus,
*[tabindex="0"]:focus,
*[tabindex="-1"]:focus {
  outline-color: var(--primary) !important;
}
main:focus {
  outline-offset: -6px !important;
}
.advanced-search-form {
  .advanced.page-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .advanced-search-start-over {
      margin-left: auto;
    }
  }
  .row {
    clear: both;
    min-width: 14em;
    .card.card-default {
      margin: 20px 0;
      min-width: 9em;
    }
  }
}
.blacklight-advanced-facet-select.facet-values .facet-checkbox {
  padding-bottom: 0.125rem;
  vertical-align: middle;
}
.btn svg {
  height: 1.5em;
  width: 1.5em;
}
.btn.clear-bookmarks {
  height: 2.423rem;
}
.document {
  .index-document-functions {
    min-width: 9em;
  }
  .show-tools {
    margin-bottom: 16px;
    min-width: 11em;
  }
}
.document-thumbnail img {
  max-height: 240px;
  max-width: 240px;
  width: 100%;
}
.documents-gallery, .documents-masonry {
  .document .documentHeader .document-title-heading {
    flex: 0 0 100%;
    .document-counter {
      clip: rect(0, 0, 0, 0);
      display: block;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}
.documents-gallery .document {
  min-width: 16em;
  .document-metadata {
    margin-left: revert;
  }
  .document-thumbnail img {
    max-height: 15em;
    max-width: 15em;
  }
}
.documents-gallery .document .documentHeader,
.documents-list .document .documentHeader {
  align-items: baseline;
  .index-document-functions {
    margin-bottom: 0.5rem;
  }
}
.documents-list .document {
  margin-top: 0;
  padding: 1rem 0;
  .document-thumbnail {
    float: unset;
    margin-bottom: 48px;
    padding-left: 0;
    img {
      max-height: 15em;
      max-width: 15em;
    }
  }
  .document-metadata {
    clear: right;
    margin-bottom: 0;
    min-width: 24em;
    width: 100%;
  }
  .document-metadata, .documentHeader {
    margin-left: 0px;
    margin-right: 0px;
  }
  .document-title-heading {
    align-content: center;
    display: flex;
    .document-counter {
      margin-right: 0.5rem;
    }
  }
}
.documents-list, .show-document {
  .document .document-metadata {
    dd .thumbclass {
      max-height: 12.5rem;
      max-width: 12.5rem;
    }
    dt {
      min-width: 6em;
    }
  }
}
.documents-masonry .document {
  max-width: fit-content;
  width: 25%;
  .thumbnail-container {
    min-width: 240px;
    width: fit-content;
    .caption-area {
      background-color: rgba(0, 0, 0, 0.8) !important;
      scrollbar-width: none;
      width: 100%;
    }
    .caption-area:first-child {
      height: 100%;
      top: 0;
    }
    .caption-area:not(:first-child) {
      clip: rect(0, 0, 0, 0);
      display: block;
      height: 1px;
      margin: -1px;
      top: 25%;
      width: 1px;
      z-index: 1;
    }
    &:hover .caption-area,
    &:focus-within .caption-area,
    &.toggling-checkbox .caption-area {
      clip: revert-layer;
      height: revert-layer;
      margin: revert-layer;
      min-height: 6.25em;
      width: 100%;
      z-index: 1;
    }
  }
}
.documents-slideshow {
  .grid {
    .document .thumbnail {
      min-height: 6.25em;
      min-width: 6.25em;
      width: 6.25em;
      img {
        height: 6.25em;
        width: 6.25em;
      }
    }
  }
}
// Facet field headings and buttons
.facet-field-heading button {
  &::after {
    content: unset;
    float: unset;
    transform: unset;
    transition: unset;
  }
  span {
    float: right;
    transform: rotate(90deg);
  }

  &.collapsed {
    span {
      transform: rotate(0deg);
      transition: transform 0.1s ease;
    }
  }
}
.facet-values{
  li {
    .facet-count {
      width: 4rem !important;
    }
    .facet-label {
      padding-left: 0 !important;
      text-indent: 0 !important;
    }
    .selected {
      color: #1d2c78 !important;
    }
  }
  .remove {
    padding-left: 0 !important;
    margin-left: 0.5rem;
  }
}
.facet-limit {
  margin-bottom: 5px;
}
.input-group-sm > .input-group-append > .btn {
  height: calc(1.5em + 0.5rem + 2px);
}
.modal-open .modal {
  scrollbar-gutter: stable;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,0.6);
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0,0,0,0.8);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0,0,0,0.6);
}
.navbar-search .search-query-form {
  margin: 0.25rem 0;
  padding-right: 0;
}
.navbar-search .search-query-form .input-group-append {
  height: calc(1.5em + 0.75rem + 2px);
}
.page-sidebar {
  min-width: 14em;
}
.pagination {
  min-width: 12em;
  padding-bottom: 0.25em;
}
.search-history {
  list-style: none;
  .filter-name {
    color: #4A5155 !important;
    min-width: 7rem;
  }
  > li {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    dl {
      margin-bottom: 0;
    }
  }
}
.search-widgets, .sort-pagination {
  flex-wrap: wrap;
}
.search-widgets > * {
  padding-bottom: 0.25em;
}
.search-widgets .view-type .blacklight-icons svg {
  display: inline-block;
}
.sidenav .facet-limit .card-body {
  padding: 1rem 0.5rem;
}
.site-footer a:hover:not([aria-disabled]) {
  text-decoration: underline;
}
.site-footer ul {
  list-style: none;
  margin-bottom: 0px;
  margin-left: -10px;
  padding-left: 0px;
}
.slideshow-modal {
  .btn, .close {
    color: #FFFFFF;
    opacity: 0.8;
    svg {
      fill: #FFFFFF;
    }
    &:hover:not(:disabled):not(.disabled),
    &:focus:not(:disabled):not(.disabled) {
      opacity: 1;
    }
  }
  &:focus .modal-header {
    overflow: hidden;
  }
  .modal-body {
    padding: 8px;
    .slideshow-presenter {
      .carousel-control {
        width: 3.125em;
        > span {
          background-color: rgba(0,0,0,0.6);
          border-radius: 50%;
        }
        &.left {
          left: 6px;
        }
        &.right {
          right: 6px;
        }
      }
      .controls .btn {
        &[aria-disabled="true"] {
          cursor: default;
          opacity: 0.6;
        }
        .blacklight-icons svg {
          height: 2em;
          width: 2em;
        }
      }
      .slideshow-inner .item .frame {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 65vh;
        > a {
          margin: 0.5em;
        }
      }
    }
  }
}
.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}
.thumbclass {
  max-height: 200px;
  max-width: 200px;
}
.x3d-object {
  height: 660px;
  margin-bottom: 6px;
  max-width: 90vw;
  width: 660px;
}

@media print {
  a[href]:after {
    content: none;
  }
  .site-footer {
    display: none;
  }
}
@media (min-width: 576px) {
  .site-footer {
    padding: 7% 0
  }
  .site-footer .container {
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .documents-list .document {
    .document-thumbnail {
      float: right;
      padding-left: 48px;
    }
    .document-metadata {
      clear: unset;
      width: revert;
    }
  }
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 71.25em;
  }
}

a {
  display: inline-block;
  &:hover .color_overlay {
    opacity: 0;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms
  }
}
form .file-label:hover .choose {
  color: #2ADBA7
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 500;
    line-height: 1.5
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
label.toggle-bookmark {
  align-items: center;
  display: flex;
  margin: 0.25rem 0;
  input {
    margin-right: 0.5rem;
  }
}
p a:not(.btn):not([aria-disabled]) {
  font-weight: bold;
  text-decoration: underline dotted;
  &:hover {
    text-decoration: underline;
  }
}
