// css that is shared by all portals
.btn:focus, .btn.focus,
.btn-light:focus, .btn-light.focus,
.btn-secondary:focus, .btn-secondary.focus,
a:focus,
button:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0.063rem white;
  outline: 0.125rem solid var(--secondary) !important;
  outline-offset: 0.063rem;
}
.btn-primary:focus, .btn-primary.focus,
.navbar.navbar-search select:focus,
.navbar.navbar-search input:focus,
a:not(.btn):focus {
  outline-color: var(--primary) !important;
}
a:not(.btn):focus {
  border-radius: 2px;
  box-shadow: 0 0 0 0.125rem white;
  outline-offset: 0.125rem;
}
.advanced-search-form {
  .advanced.page-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .advanced-search-start-over {
      margin-left: auto;
    }
  }
  .row {
    clear: both;
    min-width: 14em;
    .card.card-default {
      margin: 20px 0;
      min-width: 9em;
    }
  }
}
.btn svg {
  height: 1.5em;
  width: 1.5em;
}
.document .index-document-functions,
.page-sidebar .show-tools {
  min-width: 9em;
}
.documents-gallery .document {
  min-width: 16em;
  .document-metadata {
    margin-left: revert;
  }
}
.documents-gallery .document .documentHeader,
.documents-list .document .documentHeader {
  align-items: baseline;
}
.documents-gallery .document .index-document-functions,
.documents-list .document .index-document-functions {
  margin-bottom: 0.5rem;
}
.documents-list .document {
  .document-thumbnail {
    float: unset;
    margin-bottom: 48px;
    padding-left: 0;
  }
  .document-metadata {
    clear: right;
    min-width: 24em;
    width: 100%;
  }
  .document-title-heading {
    align-content: center;
  }
}
.documents-list, .show-document {
  .document .document-metadata {
    dd .thumbclass {
      max-height: 12.5rem;
      max-width: 12.5rem;
    }
    dt {
      min-width: 6em;
    }
  }
}
.documents-masonry .document {
  .caption-area:not(:first-child) {
    clip: rect(0, 0, 0, 0);
    display: block;
    height: 1px;
    margin: -1px;
    width: 1px;
    z-index: 1;
  }
  &:hover .caption-area, &:focus-within .caption-area {
    clip: revert-layer;
    height: revert-layer;
    margin: revert-layer;
    width: revert-layer;
  }
  .thumbnail-container {
    min-width: 200px;
  }
}
.documents-slideshow {
  .grid {
    .document .thumbnail {
      min-height: 6.25em;
      min-width: 6.25em;
      width: 6.25em;
      img {
        height: 6.25em;
        width: 6.25em;
      }
    }
  }
  .slideshow-modal {
    .btn, .close {
      color: #FFFFFF;
      opacity: 0.8;
      svg {
        fill: #FFFFFF;
      }
      &:hover:not(:disabled):not(.disabled),
      &:focus:not(:disabled):not(.disabled) {
        opacity: 1;
      }
    }
    .slideshow-presenter {
      .controls .btn[aria-disabled="true"] {
        cursor: default;
        opacity: 0.6;
      }
      .item .frame {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 65vh;
        > a {
          display: inline-block;
        }
      }
    }
  }
}
// Facet field headings and buttons
.facet-field-heading button {
  &::after {
    content: unset;
    float: unset;
    transform: unset;
    transition: unset;
  }
  span {
    float: right;
    transform: rotate(90deg);
  }

  &.collapsed {
    span {
      transform: rotate(0deg);
      transition: transform 0.1s ease;
    }
  }
}
.facet-values li .selected {
  color: #1d2c78 !important;
}
.facet-limit {
  margin-bottom: 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,0.6);
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0,0,0,0.8);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0,0,0,0.6);
}
.navbar-search .search-query-form {
  margin: 0.25rem 0;
  padding-right: 0;
}
.navbar-search .search-query-form .input-group-append {
  height: calc(1.5em + 0.75rem + 2px);
}
.page-sidebar {
  min-width: 14em;
  .show-tools {
    margin-bottom: 20px;
  }
}
.pagination {
  min-width: 12em;
  padding-bottom: 0.25em;
}
.search-history {
  list-style: none;
  .filter-name {
    color: #4A5155 !important;
    min-width: 7rem;
  }
  > li {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    dl {
      margin-bottom: 0;
    }
  }
}
.search-widgets, .sort-pagination {
  flex-wrap: wrap;
}
.search-widgets > * {
  padding-bottom: 0.25em;
}
.search-widgets .view-type .blacklight-icons svg {
  display: inline-block;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
.slideshow-presenter .carousel-control {
  width: 3.125em;
}
.slideshow-presenter .controls .blacklight-icons svg {
  height: 2em;
  width: 2em;
}
.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}

.thumbclass {
  max-height: 200px;
  max-width: 200px;
}

.document-thumbnail img {
  max-height: 240px;
  max-width: 240px;
}

@media print {
  a[href]:after {
    content: none;
  }
  .site-footer {
    display: none;
  }
}
@media (min-width: 576px) {
  .site-footer {
    padding: 7% 0
  }
  .site-footer .container {
    max-width: 100%
  }
}
@media (min-width: 768px) {
  .documents-list .document {
    .document-thumbnail {
      float: right;
      padding-left: 48px;
    }
    .document-metadata {
      clear: unset;
      width: revert;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 71.25em;
  }
}

.button:hover {
  background: #25399E;
  text-decoration: none;
  color: white
}
.load-more .button:hover {
  background: #25399E
}
a:hover .color_overlay {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms
}

.header-top ul li:last-child a:hover {
  background: #1bdba6;
  color: #25399E
}

form .file-label:hover .choose {
  color: #2ADBA7
}

label.toggle-bookmark {
  align-items: center;
  display: flex;
  margin: 0.25rem 0;
  input {
    margin-right: 0.5rem;
  }
}

p a:hover {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 500;
    line-height: 1.2
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}
