<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <p class="footer-logo">
          <a href="https://hearstmuseum.berkeley.edu/" class="d-block">
            <img src="/pahma_footer-logo.svg" alt="Phoebe A. Hearst Museum of Anthropology">
          </a>
        </p>
        <p>Proudly located at:</p>
        <a href="http://www.berkeley.edu" class="d-block">
          <img class="berkeley-logo" src="/berkeley.svg" alt="University of California, Berkeley">
        </a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <ul id="menu-footer-nav-items" aria-label="secondary navigation links">
          <li class="menu-item">
            <a href="https://hearstmuseum.berkeley.edu/about/" class="nav-link">About</a>
          </li>
          <li class="menu-item">
            <a href="https://hearstmuseum.berkeley.edu/events/" class="nav-link">Events</a>
          </li>
          <li class="menu-item">
            <a href="https://hearstmuseum.berkeley.edu/request-a-research-visit/" class="nav-link">Request A Research Visit</a>
          </li>
          <li class="menu-item">
            <a href="https://hearstmuseum.berkeley.edu/descendant-communities/" class="nav-link">Descendant Communities</a>
          </li>
          <li class="menu-item">
            <a href="https://hearstmuseum.berkeley.edu/policies-services-fees/" class="nav-link">Policies, Services <span aria-hidden="true">&amp;</span><span class="sr-only">and</span> Fees</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h4>Contact</h4>
        <address>103 Anthropology and Art Practice Building #3712
          University of California, Berkeley
          Berkeley, CA 94720-3712
        </address>
        <a class="telephone" href="tel:+1-510-642-3682"><i class="fa fa-mobile" aria-hidden="true"></i>510-642-3682</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h4 id="social-media-heading">Connect</h4>
        <div class="social">
          <ul aria-labelledby="social-media-heading">
            <li>
              <a href="https://www.facebook.com/hearstmuseum/" class="nav-link" title="Facebook profile, Phoebe Hearst Museum "><i class="fa fa-facebook" aria-hidden="false" role="img" aria-label="Facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/hearstmuseum" class="nav-link" title="Twitter profile, Phoebe Hearst Museum"><i class="fa fa-twitter" aria-hidden="false" role="img" aria-label="Twitter"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/hearstmuseum/" class="nav-link" title="Instagram profile, Phoebe Hearst Museum"><i class="fa fa-instagram" aria-hidden="false" role="img" aria-label="Instagram"></i></a>
            </li>
            <!-- <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> -->
          </ul>
        </div>
        <div class="copyright">
          <p>
            &copy; <%= Time.current.year %> The Regents of the University of California, all rights reserved.
            <a href="https://hearstmuseum.berkeley.edu/privacy-policy/">Privacy&nbsp;Policy</a>
          </p>
          <p>Committed to
            <a href="https://dac.berkeley.edu/web-accessibility">accessibility</a>
            <span aria-hidden="true">&amp;</span><span class="sr-only">and</span>
            <a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">nondiscrimination</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
