<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site-footer container-fluid">
  <div class="row" >
    <ul aria-label="secondary navigation links" class="w-100 d-md-flex flex-wrap justify-content-between">
      <li>
        <a href="https://bampfa.org/collection/" class="nav-link">Home</a>
      </li>
      <li class="text-nowrap">
        <a href="https://bampfa.org/about/" class="nav-link">About BAMPFA</a>
      </li>
      <li class="text-nowrap">
        <a href="https://bampfa.org/on-view" class="nav-link">On View</a>
      </li>
      <li>
        <a href="https://bampfa.org/support/" class="nav-link">Support</a>
      </li>
      <li>
        <a href="https://bampfa.org/about/contact-us" class="nav-link">Help</a>
       </li>
      <li>
        <ul aria-label="social media links" class="d-flex flex-nowrap justify-content-between">
          <li class="pl-1">
            <a href="https://www.facebook.com/bampfa/" class="nav-link" title="BAMPFA facebook profile"><i class="fa fa-facebook" aria-hidden="false" role="img" aria-label="Facebook"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/bampfa/" class="nav-link" title="BAMPFA twitter profile"><i class="fa fa-twitter" aria-hidden="false" role="img" aria-label="Twitter"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/bampfa/" class="nav-link" title="BAMPFA instagram profile"><i class="fa fa-instagram" aria-hidden="false" role="img" aria-label="Instagram"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-5 col-sm-4">
      <a href="https://bampfa.org"><img class="footer-logo" src="/footer-logo-bampfa.png" alt="bampfa"></a>
    </div>
    <div class="col-xs-7 col-sm-8 site-footer-text">
      <p>
        Committed to
        <a href="https://dac.berkeley.edu/web-accessibility">accessibility,</a>
        <a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">nondiscrimination</a>
        <span aria-hidden="true">&amp;</span><span class="sr-only">and</span>
        <a href="https://security.berkeley.edu/policy/privacy-statement-uc-berkeley-websites">privacy</a>.
      </p>
      <p>
        BAMPFA
        2155 Center Street Berkeley, CA
        <a href="https://www.google.com/maps/place/2155+Center+St,+Berkeley,+CA+94704/@37.870828,-122.266376,16z/data=!4m5!3m4!1s0x80857e9def510589:0x7ab599b7a77e49a9!8m2!3d37.8708088!4d-122.2664216?hl=en-US">MAP</a>
        <a href="tel:+1-510-642-0808">(510) 642-0808</a>
        <a href="mailto:bampfa@berkeley.edu">bampfa@berkeley.edu</a>
      </p>
      <p>UC Berkeley's
        <a href="https://rtl.berkeley.edu">Research, Teaching and Learning (RTL)</a>
        provides technical infrastructure and support for
        <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>,
        and for this website, using <a href="https://projectblacklight.org/">
          <img src="/blacklight-logo-vectorized.svg" alt="blacklight" class="blacklight-logo">
        </a>
      </p>
      <p>&copy; <%= Time.current.year %> The Regents of the University of California, all rights reserved.</p>
    </div>
  </div>
</footer>
