<div class="navbar-right">

  <ul aria-label="main navigation links" class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
  </ul>

	<!--

	the user login links have been removed from this section
	pending decisions by BAMPFA if that functionality is desired/supportable

 	-->

</div>
