<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer container-fluid">
  <!-- <div class="container-fluid"> -->
    <div class="row" style="height: 26px; background: lightgray;">
      
      <div class="col-sm-2 col-xs-4">
        <a href="https://bampfa.org/cinefiles/">Home</a>
      </div>
      
      <div class="col-sm-2 col-xs-4" >
        <a href="https://bampfa.org/cinefiles/about/">About Us</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="https://bampfa.org/about/film-library-study-center/">Contact Us</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="https://bampfa.org/cinefiles/about/comments/">Comments</a>
      </div>

      <div class="col-sm-2 col-xs-4">
        <a href="https://bampfa.org/cinefiles/about/help/">Help</a>
       </div>

      <div class="col-sm-2 col-xs-4">
        <a href="https://www.facebook.com/bampfa/"><i class="fa fa-facebook"></i></a>
      <!-- </div> -->
      <!-- <div class="col-sm-1"> -->
        <a href="https://twitter.com/bampfa/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <!-- </div> -->
      <!-- <div class="col-xs-1"> -->
        <a href="https://www.instagram.com/bampfa_filmlibrary/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-sm-4">
            <a href="https://imls.org"><img src="/imls.png" alt="imls"></a>
        </div>
        <div class="col-xs-7 col-sm-8">
            <p style="line-height: 1.2">
              Committed to
              <a href="https://dac.berkeley.edu/web-accessibility">accessibility,</a>
              <a href="https://ophd.berkeley.edu/policies-and-procedures/nondiscrimination-policy-statement">nondiscrimination</a> &amp;
              <a href="https://security.berkeley.edu/policy/privacy-statement-uc-berkeley-websites">privacy</a>.
            </p>
            <p style="line-height: 1.2">UC Berkeley's Research, Teaching and Learning (RTL) provides technical infrastructure and support for
              <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>,
              and for this website, using <a href="https://projectblacklight.org/"><img src="/blacklight-logo-vectorized.svg" alt="bampfa" style="max-width: 100px;"></a>
            </p>
        </div>
    </div>
  <!-- </div> -->
</footer>
