
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore BAM/PFA!</h4>
<p style="text-align: justify;">
The Berkeley Art Museum cares for a vast and diverse collection. Enter a few interesting words for artist, works places, or dates in the search box above; select one of the facets on the left to refine your search; or choose a featured item from the eight shown here.
</p>
</td>

<td class="splash_td">
<a href="/?f[title_s][]=Branch of Flowering Plum&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/708ff619-4985-4391-b82c/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Branch of Flowering Plum&per_page=30&search_field=advanced&view=index">Li Fangying ></a></b>
<!-- a class="fr" href="Branch of Flowering Plum"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=e.g., 3&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/707aeb07-5318-4c07-a8d0/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=e.g., 3&per_page=30&search_field=advanced&view=index">Reichek, Jesse ></a></b>
<!-- a class="fr" href="e.g., 3"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Duo&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/1f368bf4-a562-433f-bebf/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Duo&per_page=30&search_field=advanced&view=index">Magritte, René ></a></b>
<!-- a class="fr" href="Duo"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[title_s][]=Chained Elephant&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/c22201e6-8f62-4401-a3d1/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Chained Elephant&per_page=30&search_field=advanced&view=index">Unknown (India) ></a></b>
<!-- a class="fr" href="Chained Elephant"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Konstruktionen, 1 of 6 prints&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/865e4e73-da97-466e-b2b2/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Konstruktionen, 1 of 6 prints&per_page=30&search_field=advanced&view=index">Moholy-Nagy, László ></a></b>
<!-- a class="fr" href="Konstruktionen, 1 of 6 prints"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=A Ble W ail&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/c277ed96-69b1-4cfd-99fd/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=A Ble W ail&per_page=30&search_field=advanced&view=index">Cha, Theresa Hak Kyung ></a></b>
<!-- a class="fr" href="A Ble W ail"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Le Jour Se Lève&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/57d4b23f-58aa-4d96-a250/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Le Jour Se Lève&per_page=30&search_field=advanced&view=index">Unknown (France) ></a></b>
<!-- a class="fr" href="Le Jour Se Lève"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[title_s][]=Autumn Trees by the River&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/0e5418a7-3597-4b7e-a966/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Autumn Trees by the River&per_page=30&search_field=advanced&view=index">Chen Hongshou ></a></b>
<!-- a class="fr" href="Autumn Trees by the River"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=A Woman&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/ca4b61ba-c2c5-456b-9307/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=A Woman&per_page=30&search_field=advanced&view=index">Unknown (Germany) ></a></b>
<!-- a class="fr" href="A Woman"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Effervescence&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/045ac812-222c-4ac2-9b59/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Effervescence&per_page=30&search_field=advanced&view=index">Hofmann, Hans ></a></b>
<!-- a class="fr" href="Effervescence"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=I like a / loved one to / be apt in / the wing&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/2e411054-8ab3-4499-b6bf/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=I like a / loved one to / be apt in / the wing&per_page=30&search_field=advanced&view=index">Chauhan, Ajit ></a></b>
<!-- a class="fr" href="I like a / loved one to / be apt in / the wing"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[title_s][]=Louis Seize (after Antoine-Francois Callet)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/d602fe8f-0042-4aa5-b625/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Louis Seize (after Antoine-Francois Callet)&per_page=30&search_field=advanced&view=index">Bervic, Charles-Clément ></a></b>
<!-- a class="fr" href="Louis Seize (after Antoine-Francois Callet)"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Ciscurrutaca (Pintiquinestras, Serie De Las Gigantas Amorosas)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/cf3ba7e5-2547-4d95-8ea9/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Ciscurrutaca (Pintiquinestras, Serie De Las Gigantas Amorosas)&per_page=30&search_field=advanced&view=index">Saura, Antonio ></a></b>
<!-- a class="fr" href="Ciscurrutaca (Pintiquinestras, Serie De Las Gigantas Amorosas)"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Identical/ Variation (Blue), #5 of 12&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/4e17bfbd-4b05-42d6-8d03/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Identical/ Variation (Blue), #5 of 12&per_page=30&search_field=advanced&view=index">Ellingson, Amy ></a></b>
<!-- a class="fr" href="Identical/ Variation (Blue), #5 of 12"></a -->
</td>
<td class="splash_td">
<a href="/?f[title_s][]=Farándula de charlatanes (The charlatans' swindle), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/bampfa/imageserver/blobs/279cf5f9-9c35-46ef-8435/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[title_s][]=Farándula de charlatanes (The charlatans' swindle), from the series Los desastres de la guerra (The Disasters of War)&per_page=30&search_field=advanced&view=index">Goya, Francisco ></a></b>
<!-- a class="fr" href="Farándula de charlatanes (The charlatans' swindle), from the series Los desastres de la guerra (The Disasters of War)"></a -->
</td>
</table>
