<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>BAMPFA Collection</h1>
                        <p style="text-align: justify;">
                            As the visual arts center at one of the world’s leading public research universities, the <a href="https://bampfa.org">UC Berkeley Art Museum and Pacific Film Archive</a> (BAMPFA) brings the rich artistic resources of the UC Berkeley campus to the broader public. BAMPFA’s mission is to inspire the imagination, ignite critical dialog, and activate community engagement through art, film, and other forms of creative expression.
                        </p>
                        <p style="text-align: justify;">
                            Explore BAMPFA's extensive art collection here.
                        </p>
                    </div>
                    <!-- TILE #1 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_new-time.jpg" alt="poster for Pacific Film Archive's Third World Cinema series in 1971">
                                <div class="flipper-text minor-heading">New Time: Art and Feminisms in the 21st Century</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">August 28, 2021–January 30, 2022</p>
                                <p class="desc"><a href="https://bampfa.org/program/new-time-art-and-feminisms-21st-century">New Time: Art and Feminisms in the 21st Century</a> is a major survey exploring recent feminist practices in contemporary art. In 1980 Lucy Lippard argued that feminist art is “neither a style nor a movement” but rather “a value system, a revolutionary strategy, a way of life.”</p>
                                <p>View collection works in the show [NB: this isn't really possible w/ current data - MCQ]</p>
                                <p><a href="/?f[status_s][]=On+View" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_conceptual.jpg" alt="image from Djibril Diop's film Touki Bouki">
                                <div class="flipper-text minor-heading">Conceptual Art</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Conceptual Art at BAMPFA</p>
                                <p class="desc">BAMPFA has a strong collection of documentation and other works from conceptual artists and collectives, including Ant Farm, James Lee Byars, and Theresa Hak Kyung Cha. </p>
																<p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href='/?utf8=✓&f[status_s][]=located+in+Art+Study+Center&search_field=text&q=cha+OR+byars+OR+"ant+farm"' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_ukiyo.jpg">
                                <div class="flipper-text minor-heading">Japanese woodblock prints</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Ukiyo-e prints at BAMPFA</p>
                                <p class="desc">BAMPFA has a large collection of Japanese <i>Ukiyo-e</i> woodblock prints from the 18th to the late 19th century. This style of print became extremely popular in Japan and with foreign collectors by the mid-19th century and feature scenes from daily life, fantastical tales, or popular theater.</p>
																<p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href="/?utf8=✓&f[artistorigin_s][]=Japan&f[itemclass_s][]=Print&search_field=text&q=woodblock" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/bampfa_indian-painting.jpg">
                                <div class="flipper-text minor-heading">Indian paintings before 1900</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Indian paintings</p>
                                <p class="desc">BAMPFA has a strong collection of paintings from India, especially Mughal-era miniatures.</p>
                                <p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href='/?f[artistorigin_s][]=India&f[itemclass_s][]=Painting&page=20&range[datemade_s][begin]=0&range[datemade_s][end]=1900&search_field=advanced' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_sakimachi.jpg">
                                <div class="flipper-text minor-heading">Recent artworks</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Art since 2010</p>
                                <p class="desc">BAMPFA is committed to engaging with contemprary arts in all mediums. Here are works made after 2010.</p>
                                <p>[NB this era has relatively sparse photography and maybe not the best selection-MCQ]</p>
                                <p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href="/?utf8=✓&search_field=put&range[datemade_s][begin]=2010&range[datemade_s][end]=2021&commit=Limit" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_artists-book.jpg">
                                <div class="flipper-text minor-heading">Artist's books</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Artist's books</p>
                                <p class="desc">Artist books can range from very personal meditations to cheeky, thumb-nosing gestures. Explore BAMPFA's collection of artist's books.</p>
                                <p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href="/?artistcalc_s=&artistorigin_s=&century_s=&commit=Search&datemade_s=&idnumber_s=&itemclass_s=artist's+book&materials_s=&op=OR&search_field=advanced&sort=title_s+asc&status_s=&title_s=&utf8=✓" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_conner.jpg">
                                <div class="flipper-text minor-heading">Bruce Conner</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bruce Conner</p>
                                <p class="desc">Bruce Conner's artistic career spanned experimental filmmaking, collage, drawing, sculpture, and more. Explore the works of this iconic (and iconoclastic) Bay Area artist.</p>
                                <p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href="/?utf8=✓&op=AND&text=&idnumber_s=&itemclass_s=&artistcalc_s=conner%2C+bruce&datemade_s=&materials_s=&artistorigin_s=&title_s=&status_s=&century_s=&sort=title_s+asc&search_field=advanced&commit=Search class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/bampfa_photo.jpg">
                                <div class="flipper-text minor-heading">19th Century Photography</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">19th Century Photography</p>
                                <p class="desc">The development of photography had a profound impact on the arts and society as a whole. View photographs in artistic, documentary, and colonialist modes in the BAMPFA collection.</p>
																<p><i>Title of of the work, accession number, artist</i></p>
                                <p><a href="/?utf8=✓&f[itemclass_s][]=Photograph&per_page=100&range[datemade_s][begin]=1970&range[datemade_s][end]=1979&search_field=dummy_range&range[datemade_s][begin]=1800&range[datemade_s][end]=1899&commit=Limit" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
