<!-- this partial is used to generate a group of 10 random
		documents from the solr core
-->

<!-- to enable the slick.js carousel uncoment this script
		and also the js cdn & css imports on blacklight.html.erb
</script> -->
<!--
<script type="text/javascript">
  $(document).ready(function(){
	  $('.carousel').slick({
		  dots:true,
		  centerMode: true
		  });
	});

</script>
 -->

<!-- https://interactjs.io/ -->
<!-- <script type="text/javascript">
	const position = { x: 0, y: 0 }

	interact('.draggable').draggable({
	  listeners: {
	    start (event) {
	      console.log(event.type, event.target)
	    },
	    move (event) {
	      position.x += event.dx
	      position.y += event.dy

	      event.target.style.transform =
	        `translate(${position.x}px, ${position.y}px)`
	    },
	  }
	})
</script> -->

<!-- this is an option for a carousel using Slick.js -->
<!-- <div class='carousel' data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
	<%# <%= generate_carousel_images %> %>
</div> -->

<!-- and this is an option for a simple grid display  -->
<div class="row">
	<div class="col-12">
		<div class="imageGallery" id="image-gallery-container" style="position: relative;">
			<%= generate_image_gallery %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
			<%= link_to "Load more", '#', add_gallery_items , remote: true, id: 'add-more-button', class: 'btn, btn-primary' %>
	</div>
</div>
