<div class="container-fluid bampfa-splash">
	<div class="row">
		<div class="col-sm">
			<h1 class='section-heading'>Search the BAMPFA Collection</h1>
			<p class="bampfa-front-panel">
					As the visual arts center at one of the world’s leading public research universities, the <a href="https://bampfa.org">UC Berkeley Art Museum and Pacific Film Archive</a> brings the rich artistic resources of the UC Berkeley campus to the broader public. BAMPFA’s mission is to inspire the imagination, ignite critical dialog, and activate community engagement through art, film, and other forms of creative expression.
			</p>
			<p class="bampfa-gallery-leader">
					These are 10 random objects from BAMPFA's collection of over 23,000 works of art.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<%= render :partial => '/gallery/gallery'%>
		</div>
	</div>
</div>
