.thumbnail > img,
.thumbnail a > img {
  max-height: 200px;
  max-width: 200px;
}

.thumbclass {
  max-height: 200px;
  max-width: 200px;
}

.document-thumbnail img {
  max-height: 240px;
  max-width: 240px;
}

.isotope-item {
  overflow: hidden;
  z-index:1;
  text-align: justify;
  font-size: 14px;
}

.flipper-text {
  z-index: 4;
  position: absolute;
  top: 315px;
  text-align: left;
  margin-left: 20px;
}

.flipper-text-bg {
  z-index: 3;
  content: "";
  position: absolute;
  top: 300px;
  height: 100px;
  width: 300px;
  opacity: .93;
  background-color: whitesmoke;
}

.front {
  z-index:1;
  text-align: center;
  //position: relative;
}

.front > img {
  z-index: 2;
}

// FOOTER

.site_footer a {
    color: gray;
    padding: 5px;
}

.site_footer {
    background: transparent;
    color: gray;
    margin: auto;
}

// NAVBAR

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse {
  background: gray;
  margin-bottom: 0;
}

@media print {
  a[href]:after {
    content: none;
  }
  .site_footer {
    display: none;
  }
}

// BEGIN FONT STUFF

@font-face {
  font-family: MontserratBlack;
  src: url(/fonts/Montserrat/Montserrat-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: MontserratMedium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: MontserratLight;
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-weight: normal;
}

div {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.minor-heading {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.section-heading {
  font-family: MontserratBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.panel-title {
  font-family: MontserratLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-right: 12px;
}

.panel-heading {
  padding-right: 1px;
}

h4.facets-heading {
  font-size: 14px;
}

.search_field {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

h3.index_title > a {
    font-family: MontserratMedium, Helvetica, Arial, sans-serif;
}

// END FONT STUFF

#startOverLink, .advanced-search-start-over {
  background-color: #c8c8c8;
  color: black;
}

.panel-success > .panel-heading, .facet_limit-active > .panel-heading {
  color: #212121;
  background-color: #fab946;
  border-color: #e6fdfe;
}
