<div class="row">
  <div class="col-12 text-center mb-5">
    <h1>We're sorry! The server has encountered an error!</h1>
    <img src="/500.jpg" alt="buster keaton as sherlock junior" style="max-width: 400px;"></img>
    <p></p>
  </div>
</div>
