<%= render :partial => 'show_tools' %>
  
<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">More Like This</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </div>
  </div>
<% end %>

<div class="panel panel-warning">
	<div class="panel-heading">Notice: warning concerning copyright restrictions</div>
	<div class="panel-body">
		<p>The copyright law of the United States (title 17, United States Code) governs the making of photocopies or other reproductions of copyrighted material.</p>

		<p>Under certain conditions specified in the law, libraries and archives are authorized to furnish a photocopy or other reproduction. One of these specific conditions is that the photocopy or reproduction is not to be “used for any purpose other than private study, scholarship, or research.” If a user makes a request for, or later uses, a photocopy or reproduction for purposes in excess of “fair use,” that user may be liable for copyright infringement.</p>

		<p>This institution reserves the right to refuse to accept a copying order if, in its judgment, fulfillment of the order would involve violation of copyright law.</p>
	</div>
</div>