$navbar-inverse-bg: #fff;
$navbar-inverse-border: #fff;
$navbar-inverse-link-hover-color: #ebaa32;
$navbar-inverse-link-active-color: #22348D;
$brand-primary: #08bae7;
$state-success-text: #1d2c78 !default;
$state-success-bg: lighten($brand-primary, 60%);