// FOOTER

.site_footer a {
  color: black;
  // padding: 5px;
  font-weight: bold;
  font-size: 1em;
}

.site_footer {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background-color: #def2fc;
  color: black;
  padding: 1em 1em 1em;
  font-weight: 100;
}

.site-footer-text {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: black;
  padding: 1em 0 1em 1em;
  font-weight: normal;
  word-wrap: break-word;
}

ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// NAVBAR

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse {
  background: white;
  margin-bottom: 0;
}

.navbar-default {
  background-color: lightgray;
}

// SPLASH DISPLAY

.bampfa-splash {
  margin-right: 30px;
  margin-left: 15px;
  margin-bottom: 40px;
}

// BEGIN FONT STUFF

@font-face {
  font-family: RobotoBlack;
  src: url(/fonts/Roboto/Roboto-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url(/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: RobotoLight;
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-weight: normal;
}

div {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.minor-heading {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.section-heading {
  font-family: RobotoBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
  // font-style: italic;
  font-size: 4em;
}

.bampfa-splash-text {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.panel-title {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-right: 12px;
}

.panel-heading {
  padding-right: 1px;
}

h4.facets-heading {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
}

.facet-field-heading {
  font-size: 1rem;
}

.search_field {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

h3.index_title > a {
  font-family: RobotoMedium, Helvetica, Arial, sans-serif;
}

.show-metadata-container {
  line-height: 25px;
  padding-left: 30px;
}

.field-label {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  float: left;
}

.field-value {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin-left: 10rem;
}

.show-field-container {
}

.document h1[itemprop="name"] {
  // this is document title on the show page
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

.index-metadata-container {
  margin-bottom: 20px;
  line-height: 22px;
}

.form-control {
  font-size: 17px;
  color: black;
}

// END FONT STUFF

#startOverLink, .advanced-search-start-over {
  background-color: #c8c8c8;
  color: black;
}

.facet_limit-active {
  color: #212121;
  background-color: #fab946;
  border-color: #e6fdfe;
}

// IMAGE GALLERY STUFF
.imageGallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  box-sizing: border-box;
  margin-bottom: 30px;
  // font-size: 1rem;
}

.imageGallery .gallery-item {
  position: relative;
  display: block;
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
}

.imageGallery .gallery-item img {
  min-width: 300px;
  max-height: 100%;
}

.show-gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  box-sizing: border-box;
  margin-bottom: 30px;
}

.show-image {
  max-width: 100%;
  // display: block;
}

.show-preview {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  box-sizing: border-box;
  margin: 15px;
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
}

.show-preview-heading {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  margin: 15px;
}

.show-preview-item img {
  min-width: 200px;
  max-height: 100%;
}

.show-preview-container {
	display:inherit;
}


.gallery-caption-title {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.gallery-caption-date {
  font-size: 16px;
  font-weight: 100;
  line-height: 2;
}

.gallery-caption-artist {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.gallery-caption-artist::after, .gallery-caption-title::after, .gallery-caption-date::after {
  content: "\a";
  white-space: pre;
}

.load-more-button {
  padding: 30px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  // display: block;
}
