// FOOTER

.site-footer {
  background-color: #def2fc;
  color: black;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  padding: 1em 1em 1em;
}
.site-footer a.nav-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  &:hover:not([aria-disabled]) {
    text-decoration: underline;
  }
}
.site-footer p {
  line-height: 1.5;
}
.site-footer ul li:not(.social) {
  max-width: 12em;
  padding: 4px 20px 16px;
}
.site-footer .blacklight-logo {
  width: 6.25em;
}
.site-footer .footer-logo {
  max-width: 150px;
  object-fit: cover;
  width: 100%;
}
.site-footer-text {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: black;
  padding: 1em 0 1em 1em;
  font-weight: normal;
  word-wrap: break-word;
}

// NAVBAR

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse {
  background: white;
  margin-bottom: 0;
}

.navbar-default {
  background-color: lightgray;
}

.navbar-search .search-btn {
  height: calc(1.5em + 0.75rem + 2px);
}

// SPLASH DISPLAY

.bampfa-splash {
  margin-right: 30px;
  margin-left: 15px;
  margin-bottom: 40px;
}

// BEGIN FONT STUFF

@font-face {
  font-family: RobotoBlack;
  src: url(/fonts/Roboto/Roboto-Black.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: RobotoMedium;
  src: url(/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: RobotoLight;
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-weight: normal;
}

div {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.minor-heading {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.page-title {
  font-family: RobotoBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}

.section-heading {
  font-family: RobotoBlack, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 4em;
}

.bampfa-splash-text {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.panel-title {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  padding-right: 12px;
}

.panel-heading {
  padding-right: 1px;
}

.facet-field-heading {
  font-size: 1rem;
}

.search_field {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
}

h3.index_title > a {
  font-family: RobotoMedium, Helvetica, Arial, sans-serif;
}

.show-field-container {
  padding: 0.25em 0;
}

.show-metadata-container {
  line-height: 1.5em;
  min-width: 14em;
  padding-left: 30px;
}

.field-label {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  float: left;
  max-width: 10em;
}

.field-value {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  margin-left: 11em;
  padding-left: 4px;
}

.document h1[itemprop="name"] {
  // this is document title on the show page
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 3em;
}

.index-metadata-container {
  margin-bottom: 20px;
  line-height: 1.375rem;
}

.form-control {
  font-size: 1rem;
  color: black;
}

// END FONT STUFF

#startOverLink, .advanced-search-start-over {
  background-color: #c8c8c8;
  color: black;
}

.facet_limit-active {
  color: #212121;
  background-color: #fab946;
  border-color: #e6fdfe;
}

// IMAGE GALLERY STUFF
.imageGallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
  box-sizing: border-box;
  margin-bottom: 30px;
  // font-size: 1rem;
}

.imageGallery .gallery-item {
  position: relative;
  display: block;
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
}

.imageGallery .gallery-item img {
  min-width: 18.75em;
  max-height: 100%;
}

.show-gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(18.75em, 1fr));
  box-sizing: border-box;
  margin-bottom: 30px;
}

.show-image {
  max-width: 100%;
}

.show-preview {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
  box-sizing: border-box;
  margin: 15px;
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
}

.show-preview-heading {
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  margin: 15px;
}

.show-preview-item img {
  min-width: 12.5em;
  max-height: 100%;
}

.show-preview-container {
	display:inherit;
}

.gallery-caption-title {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.gallery-caption-date {
  font-size: 1rem;
  font-weight: 100;
  line-height: 2;
}

.gallery-caption-artist {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
}

.gallery-caption-artist::after, .gallery-caption-title::after, .gallery-caption-date::after {
  content: "\a";
  white-space: pre;
}

.load-more-button {
  padding: 30px;
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  // display: block;
}
