<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <h4>
      <a href="/"><img style="margin-left: -24px; margin-top:-24px; height:90px;" src="/header-logo.png"></a>
      <a style="white-space: nowrap; color: black; text-decoration: none;" href="/">Hearst Museum Portal</a>
    </h4>
    <!-- span size="small">University of California  Berkeley</span -->
    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<div id="search-navbar" style="background-image: url(/pahma_17-379a-c.png);" class="navbar navbar-default navbar-static-top" role="navigation">
<!-- div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation" -->
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
