<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer" style="background-color: black; color: white; padding: 24px;">
  <div class="container">
  	<div class="row">
    	<div class="col-sm-6 col-md-3">
        <p class="footer-logo"><a href="http://#TENANT#.berkeley.edu"><img src="/header-logo-cspace-webapps.png" alt="#TENANT#" style="max-width: 260px;"></a></p>
        <p class="property-of">at</p>
        <a href="http://www.berkeley.edu"><img class="berkeley-logo" src="/berkeley.svg" alt="University of California, Berkeley"></a>
      </div>
    	<div class="col-sm-6 col-md-3">


<ul id="menu-footer-nav-items" class="" style="list_style_type:none">

<li class="menu-item " style="color: white;"><a href="http://#TENANT#.berkeley.edu/about/">About</a></li>
<li class="menu-item " style="color: white;"><a href="http://#TENANT#.berkeley.edu/events/">Events</a></li>
<li class="menu-item " style="color: white;"><a href="http://#TENANT#.berkeley.edu/request-a-research-visit/">Request A Research Visit</a></li>
<li class="menu-item " style="color: white;"><a href="http://#TENANT#.berkeley.edu/policies-services-fees/">Policies, Services &amp; Fees</a></li>
</ul>
     </div>
    	<div class="col-sm-6 col-md-3">
        <h3>Contact</h3>
        <address>#TENANT#<br>
         University of California, Berkeley  <br>
        Berkeley, CA 94720</address>
        <a class="telephone" href="tel:+1-510-999-9999" style="color: white"><i class="fa fa-mobile" aria-hidden="true"></i> 510-999-9999</a>
      </div>
    	<div class="col-sm-6 col-md-3">
    		<h3>Connect</h3>
        <div class="social">
          <ul>
          <li><a href="https://www.facebook.com/#TENANT#/"><i class="fa fa-facebook" ></i></a> </li>
          <li><a href="https://twitter.com/#TENANT#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/#TENANT#/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://googleplus.com/#TENANT#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <p class="copyright"> © 2017 The Regents of the University of California, all rights reserved. <a href="http://site.berkeley.edu/privacy-policy/"><font color="#FFFFFF">Privacy Policy</font></a></p>
      </div>
    </div>
  </div>
</footer>
