
<div id="getting-started">
  <h3 class='section-heading'>Welcome to the #TENANT# Blacklight Demo!</h3>
    <p>Please feel free to explore!

    Enter a few interesting words for places, dates, people, or things in the search box above, or select one of the
    <i>facets</i> at left to narrow things down.
    </p>
    <p>
    Click <u><a href="">here</a></u> to watch a short video about how to use this search engine.
    </p>
</div>
