
<style>
.grid {padding: 12px; }
.splash_td {padding: 12px; background-color: light-gray; width: 230px; vertical-align: top;}
.splash_img {max-width:280px; padding: 0px 4px 4px 0px; }
.fr {float: right;}
.thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 2px;
    background-position: center center;
    background-size: cover;
}
</style>
<table>
<tr class="grid">
<td class="splash_td">
<h4 class='section-heading'>Explore the UC Botanical Garden's collections</h4>
<p style="text-align: justify;">
The UC Botanical Garden cares for a vast and diverse collection. Enter a few interesting words for places, dates, people, or things in the search box above;
select one of the facets on the left to refine your search; or choose a featured collection on the right.
</p>
</td>

<td class="splash_td">
<a href="/?f[family_s][]=VELLOZIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/f1c00968-d4c3-4e5e-a7dc/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=VELLOZIACEAE&per_page=30&search_field=advanced&view=index">Talbotia elegans Balf. ></a></b>
<!-- a class="fr" href="VELLOZIACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=SAXIFRAGACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/0a2d67b6-8b1f-40d9-8314/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=SAXIFRAGACEAE&per_page=30&search_field=advanced&view=index">Bergenia crassifolia Fritsch ></a></b>
<!-- a class="fr" href="SAXIFRAGACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=POLYGONACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/8b0c7468-4313-431a-9a5c/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=POLYGONACEAE&per_page=30&search_field=advanced&view=index">Rumex lunaria L. ></a></b>
<!-- a class="fr" href="POLYGONACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[family_s][]=CARYOPHYLLACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/a34ae8a0-67ac-4f60-8711/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=CARYOPHYLLACEAE&per_page=30&search_field=advanced&view=index">Dianthus balbisii Ser. subsp. balbisii ></a></b>
<!-- a class="fr" href="CARYOPHYLLACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=CAMPANULACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/eb8df1f1-af8f-4c86-b94e/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=CAMPANULACEAE&per_page=30&search_field=advanced&view=index">Canarina canariensis (L.) Kuntze ></a></b>
<!-- a class="fr" href="CAMPANULACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=MONTIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/4e93da5f-e870-48ef-a95e/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=MONTIACEAE&per_page=30&search_field=advanced&view=index">Lewisia cotyledon (S. Watson) B.L. Rob. var. cotyledon ></a></b>
<!-- a class="fr" href="MONTIACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=ASTERACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/0d3e9d65-8382-48e2-80e9/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=ASTERACEAE&per_page=30&search_field=advanced&view=index">Dimorphotheca pluvialis (L.) Moench ></a></b>
<!-- a class="fr" href="ASTERACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[family_s][]=HYPOXIDACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/bf6b5e8f-cb95-4f29-b103/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=HYPOXIDACEAE&per_page=30&search_field=advanced&view=index">Hypoxis ></a></b>
<!-- a class="fr" href="HYPOXIDACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=RHAMNACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/584a6529-9da0-4a9f-8b39/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=RHAMNACEAE&per_page=30&search_field=advanced&view=index">Colletia ulicina C. Gillies & Hook. ></a></b>
<!-- a class="fr" href="RHAMNACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=THELYPTERIDACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/6ebcc282-fb77-4f10-a781/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=THELYPTERIDACEAE&per_page=30&search_field=advanced&view=index">Thelypteris nevadensis (Baker) Clute ex Morton ></a></b>
<!-- a class="fr" href="THELYPTERIDACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=GERANIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/e487b3d0-281b-4a68-832b/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=GERANIACEAE&per_page=30&search_field=advanced&view=index">Pelargonium panduriforme Eckl. & Zeyh. ></a></b>
<!-- a class="fr" href="GERANIACEAE"></a -->
</td>
<tr class="grid">
<td class="splash_td">
<a href="/?f[family_s][]=MYRTACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/a1d197ae-e759-4d26-b5e7/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=MYRTACEAE&per_page=30&search_field=advanced&view=index">Eucalyptus forrestiana Diels ></a></b>
<!-- a class="fr" href="MYRTACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=ARISTOLOCHIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/450ebe0e-e954-44d7-90cf/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=ARISTOLOCHIACEAE&per_page=30&search_field=advanced&view=index">Aristolochia chilensis Bridges ex Lindl. ></a></b>
<!-- a class="fr" href="ARISTOLOCHIACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=PLANTAGINACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/4f4d7ce1-9ff9-41c6-9fe2/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=PLANTAGINACEAE&per_page=30&search_field=advanced&view=index">Penstemon rostriflorus Kellogg ></a></b>
<!-- a class="fr" href="PLANTAGINACEAE"></a -->
</td>
<td class="splash_td">
<a href="/?f[family_s][]=PAEONIACEAE&per_page=30&search_field=advanced&view=index">
<div class="thumb" style="background-image: url('https://webapps.cspace.berkeley.edu/botgarden/imageserver/blobs/3e84b9b4-1918-4251-b87e/derivatives/Medium/content');" title=""></div></a>
<br/><b><a class="fr" href="/?f[family_s][]=PAEONIACEAE&per_page=30&search_field=advanced&view=index">Paeonia lutea ></a></b>
<!-- a class="fr" href="PAEONIACEAE"></a -->
</td>
</table>
