<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. Our new website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/allMyLife.jpg">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms a core of the BAMPFA collection.</p>
                                <p><i>Image from Bruce Baillie's <strong>All my life</strong> (1966)</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/black-sabbath.jpg">
                                <div class="flipper-text minor-heading">Exhibitor manuals</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore our collection of exhibitor manuals</p>
                                <p class="desc">Film distributors in the 20th century (and beyond!) sent exhibitor manuals to entice theater owners to show a film and maximize their audiences. These manuals included marketing tie-ins, ads ready for local newspapers, and even suggestions for raffles or audience contests.</p>
                                <p><i>Exhibitor manual for Mario Bava's <strong>Black Sabbath</strong> (Italy, 1963)</i></p>
                                <p><a href="/?f[doctype_s][]=exhibitor+manual" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/demonpond.jpg">
                                <div class="flipper-text minor-heading">Shochiku films</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore films from Shochiku</p>
                                <p class="desc"><i>Shochiku Kabushiki Kaisha</i> (Shochiku Company, Limited) is one of Japan's oldest and most revered film production companies, operating since 1895, stretching from silent classics to contemporary anime.</p>
                                <p><i>Flyer for <strong>Demon pond </strong>(Masahiro Shinoda, Japan, 1979) from our Surf Theater collection</i></p>
                                <p><a href="/?f[film_prodco_ss][]=Shochiku+Kabushiki+Kaisha" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/varda.jpg">
                                <div class="flipper-text minor-heading">Agnès Varda</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Agnès Varda</p>
                                <p class="desc">Agnès Varda (1928-2019) was an early leader of the French <i>Nouvelle Vague</i> (New Wave) of cinema in the 1950s, and continued making highly personal and curiosity-driven films into her last years.</p>
                                <p><i>Image from <strong>Varda par Agnès</strong> (Varda by Agnès, Agnès Varda, France, 2019)</i></p>
                                <p><a href="/?f%5Bdirector_ss%5D%5B%5D=Varda%2C+Agn%C3%A8s" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/paris.jpg">
                                <div class="flipper-text minor-heading">1990 in cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">1990!</p>
                                <p class="desc">Check out films that were made in 1990, a moment of real change in the film industry. Searches like this show off the kinds of research you can do with our new interface. Enjoy!</p>
                                <p><i>Poster for <strong>Paris is Burning </strong>(Jennie Livingston, USA, 1990)</i></p>
                                <p><a href="/?f[film_year_ss][]=1990" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->