<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. This website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_feb-1975.jpg" alt="calendar for April 1975 film screenings at Pacific Film Archive">
                                <div class="flipper-text minor-heading">50 years of film at BAMPFA</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Film at BAMPFA 1971-2021</p>
                                <p class="desc">In 1971 the Pacific Film Archive began its celebrated film exhibition program. BAMPFA continues to offer a diverse repertory slate of <a href="https://bampfa.org/visit/calendar">over 450 screenings</a> each year. Explore our earliest programs here.</p>
                                <p><i>Films in April 1975 included</i> <b>Summer Storm</b> <i>(USA, 1944), </i><b>Pirosmani</b> <i>(Georgian SSR, 1971), plus films by experimenters <b>Bruce Conner</b> and <b>Robert Breer</b>.</i></p>
                                <p><a href="/?author_txt=&country_txt=&director_txt=&doclanguage_txt=&docnamesubject_txt=&doctype_txt=&film_id_ss=&filmlanguage_txt=&filmyear_txt=&op=AND&pubdate_txt=&range[pubdate_i][begin]=1971&range[pubdate_i][end]=1976&search_field=advanced&sort=pubdatescalar_s+asc&source_txt=pacific+film+archive&text=&title_txt=" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_trinh.jpg" alt="portrait of Trinh Minh-ha">
                                <div class="flipper-text minor-heading">Trinh T. Minh-ha</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Trinh T. Minh-ha</p>
                                <p class="desc">Writer, filmmaker, professor, and a longtime figure in feminist post-colonial filmmaking and theory, <b>Trinh T. Minh-ha</b> creates films, including <b><i>Surname Viet Given Name Nam</i></b> (1985) and <b><i>Reassemblage</i></b> (1982), that explore "the space between:" between viewer and image, creator and subject, love and resistance. In February 2022, Trinh delivered the fifth annual <a href="https://bampfa.org/event/surname-viet-given-name-nam">Les Blank Lecture</a> on documentary at BAMPFA.</p>
                                <p><a href='/?q=trinh+minh-ha&search_field=text&sort=film_year_ss+asc' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_belson.jpg" alt="still from Jordan Belson film Allures">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms one core of the BAMPFA film collection.</p>
                                <p><i>Still from</i> <b>Allures</b> <i>(Jordan Belson, 1961).</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_clipson.jpg" alt="postcard advertising 2010 performance by Paul Clipson at the Lab in San Francisco">
                                <div class="flipper-text minor-heading">Paul Clipson</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Postcards by Paul Clipson</p>
                                <p class="desc"><b>Paul Clipson</b> (1965-February 3, 2018) was a fixture of the Bay Area film and music scene until his untimely passing. He frequently collaborated with musicians, "performing" his films with multiple projectors in experimental art spaces. Our collection of postcards he created for his performances spans 2006-2017.</p>
                                <p><i>Postcard for a show at The Lab (San Francisco), 2010.</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=paul+clipson" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_cisse.jpg" atl="portrait of Souleyman Cissé">
                                <div class="flipper-text minor-heading">African Cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">African Cinema</p>
                                <p class="desc">Africa's cinematic traditions are as diverse as the continent's many cultures, from classic Egyptian musicals to contemporary Nollywood hits. BAMPFA has showcased African films since 1971, and will host a retrospective of Malian director <b>Souleyman Cissé</b> from <a href="https://bampfa.org/program/souleymane-cisse">March 31-April 14, 2022</a>.</p>
                                <p><i>Portrait of <b>Souleyman Cissé</b></i></p>
                                <p><a href='/catalog?utf8=✓&op=AND&text=&doctype_txt=&source_txt=&author_txt=&doclanguage_txt=&pubdate_txt=&director_txt=&title_txt=&country_txt=("Algeria"+OR+"Angola"+OR+"Benin"+OR+"Botswana"+OR+"Burkina+Faso"+OR+"Burundi"+OR+"Cape+Verde"+OR+"Cabo+Verde"+OR+"Cameroon"+OR+"Central+African+Republic"+OR+"Chad"+OR+"Comoros"+OR+"Congo+(Brazzaville)"+OR+"Democratic+Republic+of+the+Congo"+OR+"Republic+of+the+Congo"+OR+"Cote+d&apos;Ivoire"+OR+"Djibouti"+OR+"Egypt"+OR+"Equatorial+Guinea"+OR+"Eritrea"+OR+"Eswatini"+OR+"Ethiopia"+OR+"Gabon"+OR+"Gambia"+OR+"Ghana"+OR+"Guinea"+OR+"Guinea-Bissau"+OR+"Kenya"+OR+"Lesotho"+OR+"Liberia"+OR+"Libya"+OR+"Madagascar"+OR+"Malawi"+OR+"Mali"+OR+"Mauritania"+OR+"Mauritius"+OR+"Morocco"+OR+"Mozambique"+OR+"Namibia"+OR+"Niger"+OR+"Nigeria"+OR+"Rwanda"+OR+"Sao+Tome+and+Principe"+OR+"Senegal"+OR+"Seychelles"+OR+"Sierra+Leone"+OR+"Somalia"+OR+"South+Africa"+OR+"South+Sudan"+OR+"Sudan"+OR+"Tanzania"+OR+"Togo"+OR+"Tunisia"+OR+"Uganda"+OR+"Zaire"+OR+"Zambia"+OR+"Zimbabwe")&filmyear_txt=&filmlanguage_txt=&docnamesubject_txt=&film_id_ss=&sort=common_title_ss+asc&search_field=advanced&commit=Search' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_wayne.jpg" alt="portrait of Wayne Wang">
                                <div class="flipper-text minor-heading">Wayne Wang</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Wayne Wang</p>
                                <p class="desc"><b>Wayne Wang's</b> career has spanned major Hollywood productions (<i><b>The Joy Luck Club</b></i>, 1993) and smaller documentaries (<i><b>Soul of a Banquet</b></i>, 2014), and has made space for Asian Americans to tell their own stories onscreen, from the mundane to the sublime. BAMPFA will host Wang in person for a retrospective <a href="https://bampfa.org/program/wayne-wang-person">March 11–April 17, 2022</a></p>
                                <p><i>Portrait from the production of </i><b>Chan is Missing</b><i> (USA, 1982).</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=wayne+wang" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_dorsky.jpg" alt="still from Nathaniel Dorsky film Ember Days">
                                <div class="flipper-text minor-heading">Nathaniel Dorsky</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Nathaniel Dorsky</p>
                                <p class="desc">BAMPFA recently <a href="https://bampfa.org/program/recent-films-nathaniel-dorsky">presented eight new films</a> made by San Francisco filmmaker, <b>Nathaniel Dorsky</b>, during the COVID period. Dorsky has cultivated "a film form which, in itself, has all the qualities of being human: tenderness, observation, fear, relaxation, the sense of stepping into the world and pulling back, expansion, contraction, changing, softening, tenderness of heart." (Nathaniel Dorsky; still from <i><b>Ember Days</b></i>, 2021)</p>
                                <p><a href='/catalog?utf8=✓&search_field=text&q=nathaniel+dorsky' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_marin.jpg" alt="portrait of silent film actress marin sais">
                                <div class="flipper-text minor-heading">Silent film stars</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Silver screen idols</p>
                                <p class="desc">Explore our collection of head shots, on-set stills, and portraits of actors, directors, and other personalities who got their start in the golden age of silent films. Cinema changed worldwide with the introduction of sound beginning in 1927, and only some of these stars successfully transitioned to the "talkies."</p>
                                <p><i>Portrait of actress <b>Marin Sais</b>.</i></p>
                                <p><a href="/?f[doctype_s][]=still&q=docsubject_txt%3Asilent+films" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
