<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. Our new website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/watermelon-woman.jpg" alt="still from cheryl dunye's film Watermelon woman">
                                <div class="flipper-text minor-heading">African Americans in cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore the Black experience in cinema</p>
                                <p class="desc">African American filmmakers have contributed to cinema since the silent era, and the Black experience in America has been central to the story told by American cinema, both explicitly and implicitly. Explore documents that celebrate and interrogate this history.</p>
                                <p><i>Still from Cheryl Dunye's <strong>Watermelon woman</strong> (1996)</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=african+american" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/Ottinger_Madame.jpg" alt="film still from ulrike ottinger's film madame x: an absolute ruler">
                                <div class="flipper-text minor-heading">Ulrike Ottinger</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Ulrike Ottinger</p>
                                <p class="desc">From punk feminist narratives filmed around No Wave 1980s Berlin to experimental fictions from the edges of Asia, Ulrike Ottinger uses cinema to celebrate the many worlds within this world.</p>
                                <p class="desc">Learn about BAMPFA's current retrospectives of Ottinger's <a href="https://bampfa.org/watch-from-home/east-meets-west-films-ulrike-ottinger">films</a> and <a href="https://bampfa.org/program/ulrike-ottinger-matrix-276">photography</a>.</p>
                                <p><i>Still from <strong>Madame X: An absolute ruler</strong> (1978)</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=ulrike+ottinger" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/have-you-sold-your-dozen-roses.jpg">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms a core of the BAMPFA collection.</p>
                                <p><i>Still from <strong>Have you sold your dozen roses?</strong> (Philip Greene, David Myers, and Allen Willis; 1957)</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinema-guild.jpg">
                                <div class="flipper-text minor-heading">Berkeley Cinema Guild</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore the Cinema Guild's program guides</p>
                                <p class="desc">The Berkeley Cinema Guild and Studio was one of the first repertory film theaters in the U.S., operating from 1952-1967. The Guild offered a wide selection of international, experimental, documentary, and other difficult to find fare. Film critic <a href="https://bampfa.org/page/off-the-shelves-shelves-pauline-kael-and-berkeley-cinema-guild">Pauline Kael</a> started her career writing the Guild's program notes.</p>
                                <p><i>Cover of the Summer 1965 Cinema Guild program guide.</i></p>
                                <p><a href="/?utf8=✓&search_field=source_txt&q=berkeley+cinema+guild" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/killer-of-sheep.jpg">
                                <div class="flipper-text minor-heading">Charles Burnett</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Charles Burnett</p>
                                <p class="desc">Charles Burnett gained his filmmaking chops as part of the Black Independent Movement orbiting UCLA's film school. Burnett's films <i>Killer of Sheep</i> (1978) and <i>My Brother's Wedding</i> (1983) established him as a major voice in American film. His wide-ranging career also includes work in documentary and television.</p>
                                <p><i>Still from Burnett's <strong>Killer of sheep</strong> (1978)</i></p>
                                <p><a href="/?utf8=%E2%9C%93&search_field=director_txt&q=burnett%2C+charles" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/varda.jpg">
                                <div class="flipper-text minor-heading">Agnès Varda</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Agnès Varda</p>
                                <p class="desc">Agnès Varda (1928-2019) was an early leader of the French <i>Nouvelle Vague</i> (New Wave) of cinema in the 1950s, and continued making highly personal and curiosity-driven films into her last years.</p>
                                <p><i>Image from <strong>Varda par Agnès</strong> (Varda by Agnès, Agnès Varda, France, 2019)</i></p>
                                <p><a href="/?f%5Bdirector_ss%5D%5B%5D=Varda%2C+Agn%C3%A8s" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/gogoberidze.jpg">
                                <div class="flipper-text minor-heading">Georgian cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore Georgian cinema</p>
                                <p class="desc">The <a href="https://bampfa.org/program/discovering-georgian-cinema">cinema of Georgia</a>, from the Soviet period and beyond, is one of the undiscovered gems of world cinema. Georgian cinema is diverse–by turns poignant, experimental, self-reflective, and highly contemporary. Explore our holdings from this Eastern European treasure trove.</p>
                                <p><i>Still from <strong>Some Interviews on Personal Matters</strong> (Lana Gogoberidze, U.S.S.R., 1978)</i></p>
                                <p><a href="/catalog?utf8=%E2%9C%93&q=georgia&search_field=country_txt&op=OR&text=georgian&doctype_txt=&source_txt=&author_txt=&doclanguage_txt=&pubdate_txt=&director_txt=&title_txt=&country_txt=georgia&filmyear_txt=&filmlanguage_txt=&docnamesubject_txt=&film_id_ss=&sort=common_title_ss+asc&search_field=advanced&commit=Search" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/suzuki.jpg">
                                <div class="flipper-text minor-heading">Japanese cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore Japanese cinema</p>
                                <p class="desc">Japan holds one of the world's great cinema traditions. BAMPFA's film collection has long had strengths in Japanese cinema, and we invite you to take a dive into our rich collection on CineFiles as well.</p>
                                <p><i>Still from <strong>Branded to Kill</strong> (Seijun Suzuki, Japan, 1967)</i></p>
                                <p><a href="/?f%5Bcountry_ss%5D%5B%5D=Japan" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
