<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. This website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework, contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
                                        <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_video-program.jpg" alt="program for video series at PFA in July 1971">
                                <div class="flipper-text minor-heading">50 years of film at BAMPFA</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Film at BAMPFA 1971-2022</p>
                                <p class="desc">In 1971 the Pacific Film Archive began its celebrated film exhibition program. BAMPFA continues to offer a diverse repertory slate of <a href="https://bampfa.org/visit/calendar">over 450 screenings</a> each year. Explore programs from our first five years (and beyond).</p>
                                <p><i>Program for a series in collaboration with Video Free America, <b>Tapes from All Tribes</b>, July 1971.</i></p>
                                <p><a href="/?author_txt=&country_txt=&director_txt=&doclanguage_txt=&docnamesubject_txt=&doctype_txt=&film_id_ss=&filmlanguage_txt=&filmyear_txt=&op=AND&pubdate_txt=&range[pubdate_i][begin]=1971&range[pubdate_i][end]=1976&search_field=advanced&sort=pubdatescalar_s+asc&source_txt=pacific+film+archive&text=&title_txt=" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_sam-fuller.jpg" alt="portrait of Samuel Fuller">
                                <div class="flipper-text minor-heading">Samuel Fuller</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Samuel Fuller</p>
                                <p class="desc">July 29th–August 31, 2022, BAMPFA presents <a href="https://bampfa.org/program/front-page-front-lines-essential-sam-fuller"><i>From the Front Page to the Front Lines: The Essential Sam Fuller</i></a> with 10 films by this essential Hollywood iconoclast. Curator Kate MacKay writes: "His stripped-down B movie style [...] is evocative of compelling reportage, every shot and every cut deployed for maximum impact. Always on the side of the underdog, his films seek to confront prejudice and inequity head-on."</p>
                                <p><a href='/?q=samuel-fuller&search_field=text&sort=film_year_ss+asc' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_wiley.jpg" alt="still from Jordan Belson film Allures">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms one core of the BAMPFA film collection.</p>
                                <p><i>Still from</i> <b>Coffee</b> <i>(Dorothy Wiley, 1977).</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_sambizanga.jpg" atl="flyer for the film sambizanga">
                                <div class="flipper-text minor-heading">African Cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">African Cinema</p>
                                <p class="desc">Africa's cinematic traditions are as diverse as the continent's many cultures, from classic Egyptian musicals to contemporary Nollywood hits. BAMPFA has showcased African films since 1971, as well as regularly hosting the New York-based <a href="https://bampfa.org/program/african-film-festival-2020">African Film Festiva</a>l.</p>
                                <p><i>Flyer for Sarah Maldoror's revolutionary film, </i><b>Sambizanga</b><i> (1973)</i></p>
                                <p><a href='/catalog?utf8=✓&op=AND&text=&doctype_txt=&source_txt=&author_txt=&doclanguage_txt=&pubdate_txt=&director_txt=&title_txt=&country_txt=("Algeria"+OR+"Angola"+OR+"Benin"+OR+"Botswana"+OR+"Burkina+Faso"+OR+"Burundi"+OR+"Cape+Verde"+OR+"Cabo+Verde"+OR+"Cameroon"+OR+"Central+African+Republic"+OR+"Chad"+OR+"Comoros"+OR+"Congo+(Brazzaville)"+OR+"Democratic+Republic+of+the+Congo"+OR+"Republic+of+the+Congo"+OR+"Cote+d&apos;Ivoire"+OR+"Djibouti"+OR+"Egypt"+OR+"Equatorial+Guinea"+OR+"Eritrea"+OR+"Eswatini"+OR+"Ethiopia"+OR+"Gabon"+OR+"Gambia"+OR+"Ghana"+OR+"Guinea"+OR+"Guinea-Bissau"+OR+"Kenya"+OR+"Lesotho"+OR+"Liberia"+OR+"Libya"+OR+"Madagascar"+OR+"Malawi"+OR+"Mali"+OR+"Mauritania"+OR+"Mauritius"+OR+"Morocco"+OR+"Mozambique"+OR+"Namibia"+OR+"Niger"+OR+"Nigeria"+OR+"Rwanda"+OR+"Sao+Tome+and+Principe"+OR+"Senegal"+OR+"Seychelles"+OR+"Sierra+Leone"+OR+"Somalia"+OR+"South+Africa"+OR+"South+Sudan"+OR+"Sudan"+OR+"Tanzania"+OR+"Togo"+OR+"Tunisia"+OR+"Uganda"+OR+"Zaire"+OR+"Zambia"+OR+"Zimbabwe")&filmyear_txt=&filmlanguage_txt=&docnamesubject_txt=&film_id_ss=&sort=common_title_ss+asc&search_field=advanced&commit=Search' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_hou.jpg" alt="still from Hou Hsiao-Hsien's 1986 film Dust in the wind">
                                <div class="flipper-text minor-heading">Hou Hsiao-Hsien</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Hou Hsiao-Hsien</p>
                                <p class="desc">Taiwanese director Hou Hsiao-Hsien is one of the towering figures not only in Taiwanese cinema, but international cinema of the last 40 years. Hou's films regularly play at BAMPFA, and have explored topics ranging from tensions between Eastern and Western values, to urbanization, to historical dramas.</p>
                                <p><i>Still from </i><b>Dust in the wind</b><i> (Hou Hsiao-Hsien, 1986)</i></p>
                                <p><a href='/catalog?utf8=✓&search_field=text&q=hou+hsiao+hsien' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/cinefiles_ivens.jpg" alt="still from Joris Ivens's 1929 film Rain">
                                <div class="flipper-text minor-heading">Joris Ivens</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Joris Ivens</p>
                                <p class="desc">Joris Ivens (1898-1989) was a Dutch filmmaker who became an early and highly influential practitioner of documentary cinema, developing stylistic and narrative tropes that are still found in documentaries today. A lifelong socialist, Ivens was blacklisted from Hollywood in the 1940s and continued his career in Europe until the 1980s</p>
                                <p><i>Still from </i><b>Misère au Borinage</b><i> (Ivens and Henri Storck, 1929)</i></p>
                                <p><a href='/catalog?utf8=✓&search_field=text&q=joris+ivens' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->

                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_rambova.jpg" alt="portrait of silent film costume designer natacha Rambova">
                                <div class="flipper-text minor-heading">Silent film stars</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Silver screen idols</p>
                                <p class="desc">Explore our collection of head shots, on-set stills, and portraits of actors, directors, and other personalities who got their start in the golden age of silent films. Cinema changed worldwide with the introduction of sound beginning in 1927, and only some of these stars successfully transitioned to the "talkies."</p>
                                <p><i>Portrait of silent-era costume designer <b>Natacha Rambova</b>.</i></p>
                                <p><a href="/?f[doctype_s][]=still&q=docsubject_txt%3Asilent+films" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/cinefiles_music.jpg" alt="postcard advertising 2010 performance by Paul Clipson at the Lab in San Francisco">
                                <div class="flipper-text minor-heading">Music in cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Music in cinema</p>
                                <p class="desc">Music has played an important role in cinema since before the development of sound film in 1927–live musical accompaniment was an integral part of silent film storytelling. Since that time, genres from musicals to rockumentaries continue to be among the most popular styles around the world.</p>
                                <p><i>Still from </i><b>American pop</b><i> (Ralph Bakshi, 1981).</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=music" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
