<div class="main-container">
    <div class="main clearfix">
        <article>
            <section id="examples" class="showcase wrapper">
                <div class="isotope-container">

                    <div class="isotope-item">
                        <h1 class='section-heading'>Explore CineFiles</h1>
                        <p style="text-align: justify;">
                            CineFiles is an ongoing project of the <a href="https://bampfa.org">BAMPFA</a> Film Library and Study Center. Our new website, run on the open source <a href="https://projectblacklight.org/">Blacklight</a> framework contains scanned images of reviews, press kits, film festival and repertory theater program notes, newspaper articles, and other ephemera from our extensive collections.
                        </p>
                        <p style="text-align: justify;">
                            Some documents are restricted due to copyright and require a free <a href="/users/sign_up">account</a> to access. Read about CineFiles accounts, our privacy policy, and more <a href="https://bampfa.org/cinefiles/about/accounts/">here</a>.
                        </p>
                    </div>
                    <!-- TILE #1 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/pfa50.jpg" alt="poster for Pacific Film Archive's Third World Cinema series in 1971">
                                <div class="flipper-text minor-heading">50 years of film at BAMPFA</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Film at BAMPFA 1971-2021</p>
                                <p class="desc">In 1971 the Pacific Film Archive began its celebrated film exhibition program exploring every corner of cinema. BAMPFA continues to pioneer repertory exhibition, offering <a href="https://bampfa.org/visit/calendar">over 450 screenings</a> each year. Explore these flyers from our first five years.</p>
                                <p><i>Poster for the July 1971 <strong>Third World Cinema</strong> series with Glauber Rocha, Santiago Alvarez, Ousman Sembène, and more.</i></p>
                                <p><a href="/?author_txt=&country_txt=&director_txt=&doclanguage_txt=&docnamesubject_txt=&doctype_txt=&film_id_ss=&filmlanguage_txt=&filmyear_txt=&op=AND&pubdate_txt=&range[pubdate_i][begin]=1971&range[pubdate_i][end]=1976&search_field=advanced&sort=pubdatescalar_s+asc&source_txt=pacific+film+archive&text=&title_txt=" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #1 -->
                    <!-- TILE #2 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/touki-bouki.jpg" alt="image from Djibril Diop's film Touki Bouki">
                                <div class="flipper-text minor-heading">African cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Africa's diverse cinemas</p>
                                <p class="desc">Africa's cinematic traditions are as diverse as the continent's many cultures, from classic Egyptian musicals to contemporary Nollywood hits. BAMPFA has showcased African films since 1971, and will host a retrospective of Senegalese director Djibril Diop Mambéty in 2022.</p>
                                <p><i>Still from Djibril Diop Mambéty's <strong>Touki Bouki</strong> (Senegal, 1973)</i></p>
                                <p><a href='/catalog?utf8=✓&op=AND&text=&doctype_txt=&source_txt=&author_txt=&doclanguage_txt=&pubdate_txt=&director_txt=&title_txt=&country_txt=("Algeria"+OR+"Angola"+OR+"Benin"+OR+"Botswana"+OR+"Burkina+Faso"+OR+"Burundi"+OR+"Cape+Verde"+OR+"Cabo+Verde"+OR+"Cameroon"+OR+"Central+African+Republic"+OR+"Chad"+OR+"Comoros"+OR+"Congo+(Brazzaville)"+OR+"Democratic+Republic+of+the+Congo"+OR+"Republic+of+the+Congo"+OR+"Cote+d&apos;Ivoire"+OR+"Djibouti"+OR+"Egypt"+OR+"Equatorial+Guinea"+OR+"Eritrea"+OR+"Eswatini"+OR+"Ethiopia"+OR+"Gabon"+OR+"Gambia"+OR+"Ghana"+OR+"Guinea"+OR+"Guinea-Bissau"+OR+"Kenya"+OR+"Lesotho"+OR+"Liberia"+OR+"Libya"+OR+"Madagascar"+OR+"Malawi"+OR+"Mali"+OR+"Mauritania"+OR+"Mauritius"+OR+"Morocco"+OR+"Mozambique"+OR+"Namibia"+OR+"Niger"+OR+"Nigeria"+OR+"Rwanda"+OR+"Sao+Tome+and+Principe"+OR+"Senegal"+OR+"Seychelles"+OR+"Sierra+Leone"+OR+"Somalia"+OR+"South+Africa"+OR+"South+Sudan"+OR+"Sudan"+OR+"Tanzania"+OR+"Togo"+OR+"Tunisia"+OR+"Uganda"+OR+"Zaire"+OR+"Zambia"+OR+"Zimbabwe")&filmyear_txt=&filmlanguage_txt=&docnamesubject_txt=&film_id_ss=&sort=common_title_ss+asc&search_field=advanced&commit=Search' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #2 -->
                    <!-- TILE #3 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/chao.jpg">
                                <div class="flipper-text minor-heading">Bay Area avant-garde</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Bay Area avant-garde films</p>
                                <p class="desc">The San Francisco Bay Area has been a focal point for experimental filmmaking from the late 1800s to the present, and local avant-garde cinema forms a core of the BAMPFA collection.</p>
                                <p><i>Still from <strong>As Long As There Is Breath</strong> (Emily Chao, 2020)</i></p>
                                <p><a href="/?f[film_genre_ss][]=Bay+Area+avant-garde" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #3 -->
                    <!-- TILE #4 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <div class="flipper-text-bg"></div>
                                <img src="/coppola.jpg">
                                <div class="flipper-text minor-heading">Francis Ford Coppola</div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Francis Ford Coppola & American Zoetrope</p>
                                <p class="desc">One of the principal figures of the the '60s and '70s "New Hollywood," Francis Ford Coppola's films have helped define modern American cinema. During Winter 2021/2022, BAMPFA will present a retrospective of films by Coppola and the production house he co-founded with George Lucas, American Zoetrope.</p>
                                <p><a href='/?q="francis+ford+coppola"+OR+"american+zoetrope"&search_field=text' class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #4 -->
                    <!-- TILE #5 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/akerman.jpg">
                                <div class="flipper-text minor-heading">Chantal Akerman</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Chantal Akerman</p>
                                <p class="desc">Belgian filmmaker Chantal Akerman's (1950-2015) career spanned genres from musical to documentary to experimental short. Her best-known works are feminist examinations of how women can navigate a hostile society and create spaces for themselves.</p>
                                <p><i>Still from <strong>Jeanne Dielman, 23, Quai du Commerce, 1080 Bruxelles</strong> (Belgium, 1975).</i></p>
                                <p><a href="/?q=chantal+akerman&search_field=text" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #5 -->
                    <!-- TILE #6 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/wang.jpg">
                                <div class="flipper-text minor-heading">Wayne Wang</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Wayne Wang</p>
                                <p class="desc">Wayne Wang's career has spanned major Hollywood productions (<i>The Joy Luck Club</i>, 1993) and smaller documentaries (<i>Soul of a Banquet</i>, 2014), and has made space for Asian Americans to tell their own stories onscreen, from the mundane to the sublime. In 2022 BAMPFA will present a retrospective of Wang's work.</p>
                                <p><i>Portrait from the production of <strong>Chan is Missing</strong> (USA, 1982).</i></p>
                                <p><a href="/?utf8=✓&search_field=text&q=wayne+wang" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #6 -->
                    <!-- TILE #7 -->
										<div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/pola.jpg">
                                <div class="flipper-text minor-heading">Silent film stars</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Silver screen idols</p>
                                <p class="desc">Explore our collection of head shots, on-set stills, and portraits of actors, directors, and other personalities who got their start in the golden age of silent films. Cinema changed worldwide with the introduction of sound beginning in 1927, and only some of these stars successfully transitioned to the "talkies."</p>
                                <p><i>Portrait of actress <b>Pola Negri</b>.</i></p>
                                <p><a href="/?f[doctype_s][]=still&q=docsubject_txt%3Asilent+films" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #7 -->
                    <!-- TILE #8 -->
                    <div class="isotope-item" ontouchstart="this.classList.toggle(&#39;hover&#39;);">
                        <div class="flipper">
                            <div class="front">
                                <img src="/tokyo-twilight.jpg">
                                <div class="flipper-text minor-heading">Japanese cinema</div>
                                <div class="flipper-text-bg"></div>
                            </div>
                            <div class="back">
                                <p class="minor-heading">Explore Japanese cinema</p>
                                <p class="desc">Japan holds one of the world's great cinema traditions. BAMPFA's film collection has long had strengths in Japanese cinema, and we invite you to take a dive into our rich collection on CineFiles as well.</p>
                                <p><i>Still from <strong>Tokyo Twilight</strong> (Yasujiro Ozu, Japan, 1957)</i></p>
                                <p><a href="/?f%5Bcountry_ss%5D%5B%5D=Japan" class="btn btn-primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END TILE #8 -->
                </div>
            </section>
        </article>
    </div> <!-- #main -->
</div> <!-- #main-container -->
