<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>-fluid">
    <div class="row nopadding">

      <div class="col-sm-1" style="width: 50%; padding-left: 0">
        <a href="/" ><img style="width:100%" src="/header-cinefiles.png"></a>
      </div>
      <div class="col-sm-1" style="width: 50%">
          <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="user-util-collapse">
            <%= render :partial=>'/user_util_links' %>
          </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 0">
      <div class="col-sm">
        <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; ">
          <div class="<%= container_classes %>">
            <%= render_search_bar  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
