<script src="https://use.fontawesome.com/4c5d5212e2.js"></script>
<footer class="site_footer" style="color: gray; padding: 24px;">
  <div class="container">
    <div class="row" style="padding-bottom: 20px; font-size: larger; white-space: nowrap;">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="http://bampfa.org/cinefiles/">Home</a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="http://bampfa.org/about/cinefiles/">About Us</a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="http://example.com/">Contact Us</a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="http://example.com/">Comments</a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="http://bampfa.org/cinefiles-help/">Help</a>
       </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="https://www.facebook.com/bampfa/"><i class="fa fa-facebook" style="color: gray"></i></a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="https://twitter.com/bampfa/"><i class="fa fa-twitter" aria-hidden="true" style="color: gray"></i></a>
      </div>
      <div class="col-sm-1" style="width: 10%">
        <a href="https://www.instagram.com/bampfa_filmlibrary/"><i class="fa fa-instagram" aria-hidden="true" style="color: gray"></i></a>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <a href="https://bampfa.org"><img src="/header-logo-bampfa.png" alt="bampfa" style="max-width: 150px;"></a>
        </div>
        <div class="col-sm-10">
            <p>CineFiles is made possible with generous support from the Louis B. Mayer Foundation.<br><br>
              Past support for this project has been provided by the National Endowment for the Humanities, the Institute of Museum and Library Services, the Packard Humanities Institute, the Library Services and Technology Act, and individual donors.<br><br>
              UC Berkeley's Research IT provides technical infrastructure and support for <a href="https://research-it.berkeley.edu/projects/collectionspace">CollectionSpace</a>, which powers CineFiles. This website is run on <a href="https://projectblacklight.org/">Project Blacklight</a>.
            </p>
        </div>
    </div>
  </div>
</footer>
